[2017-06-30 23:13] MikeDPeterson commented on #2285
Note: to reproduce this, the Attribute needs to be marked as Required.  Then when you attempt to edit and save the group, a validation error will be displayed even though you have 'current date' selected

[2017-06-30 23:43] garrettjohnson opened #2290 "Add email open tracking for view in browser link"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-06-30 23:44] garrettjohnson commented on #2290
I'm glad to submit a pull for this, should be a fairly straight forward copy of the mailgun hook

[2017-07-01 00:35] edmistj commented on #2290
That sounds good.

[2017-07-03 19:08] timlem opened #2295 "Defined Type list shows as id instead of friendly names on report or dynamic report"
### Prerequisites
* [X ] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [pe

[2017-07-03 19:48] cabal95 commented on #2295
@timlem Could you attach a screenshot of how you setup the Attribute in steps 1 and 2? There are a number of options in there and it will help tracking this down if we are 100% sure we have set it up the same way you did.

[2017-07-03 20:46] mikejed opened #2296 "Unhandled Date filter formats"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-03 21:46] cabal95 commented on #2296
Just to add a comment, I would actually not use milliseconds as part of your comparison at all (not saying this shouldn't be fixed too).  Entity Framework seems to create SQL datetime values as `datetime`, even though `datetime2` is the "new" format that it should use (so says Microsoft). If EF is updated in the future to create `datetime2` like it is supposed to, _or_ somebody manually changes th

[2017-07-03 22:20] #2285 closed

[2017-07-04 02:17] timlem commented on #2295
- https://www.dropbox.com/s/rewssqkan01pr44/Screenshot%202017-07-03%2022.15.02.png?dl=0

- https://www.dropbox.com/s/jbpnatunkbhtenv/Screenshot%202017-07-03%2022.15.31.png?dl=0

- https://www.dropbox.com/s/8p06lp1voah200j/Screenshot%202017-07-03%2022.16.33.png?dl=0

Do these three cover it or did I miss something?

[2017-07-04 04:15] cabal95 commented on #2295
That should work. Thanks.

BTW you can also just drag the images into the github text editor and it will embed/attach them that way too.

[2017-07-04 15:21] arranf commented on #2050
@nairdo @azturner  Are you sure about this? Migrating to ICal.Net seems pretty straightforward and comes with what appears to be significant performance improvements. I'd be happy to start a branch for this and do any required work.

[2017-07-04 20:54] edmistj commented on #2050
@arranf I'd view Nick's response as not a no, but a not now. We're working super hard on getting traction on v7 features while still having to do consulting work to offset the funding gaps. This could be something to look at for v8 or v9. If you'd like to start playing with it that would be good, but at the end of the day I think it would take a core team member's time before it could be rolled in

[2017-07-05 20:39] dcs619 opened #2297 "[EN] Add capability to inactivate a device"
### Prerequisites

As devices reach end of life, it would be nice to distinguish those that are being phased out.
 However, once a device has attendance attached to it, we don't want to lose that attendance.

### Description

Add an `IsActive` column to the Device table and a Filter option to display [All, Active, Inactive].

I can do a PR for the code change but would require a migration rollup s

[2017-07-06 16:50] rutledgek opened #2299 "Enhancement - Registration Instance Details Block - Fees Column"
An enhancement to the Registration Instance Details Block Fees Column under Registrants. If there is a fee with options it would be more helpful to see the option selected than the fee name.

I.e.  I am less interested in knowing they chose a T-Shirt and more interested in seeing at a glance what t-shirt size they selected.  Right now I had to create a merge document listing the same information a

[2017-07-06 20:54] JimMichael opened #2300 "Page routes with a forward slash act... weird"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-06 21:36] cabal95 commented on #2300
Just to add clarity to the image (I gave it to Jim) since I just realized I never named that `Column `. That column is basically a Hex representation of the `Route` column.  I think it must have converted it as a UTF-16 string, hence all the extra zero's.  But that was to show that there weren't any non-printable characters present in the non working route.

[2017-07-08 19:28] garrettjohnson opened #2303 "NMI Gateway does not set card type"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-08 19:45] garrettjohnson opened #2304 "NMI on 6.7 encrypts all card expiration dates as 1/1"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-09 00:12] #1712 closed

[2017-07-09 00:40] garrettjohnson commented on #1400
@kcirgjd Is this a duplicate of #1143?

[2017-07-09 02:31] garrettjohnson commented on #2287
@rutledgek You should be able to access all the attributes you need using the merge template from the registrations tab. I've tested the code below as a working proof of concept; if you need to reference other fields, the show merge fields button is a great point of reference!

[code]
I'm going to go ahead and close the issue, feel free to reopen if this doesn't solve your problem.

[2017-07-09 02:31] #2287 closed

[2017-07-09 02:54] #1568 closed

[2017-07-09 16:43] taylorbrooks opened #2306 "[EN] REST API doesn't return resources for non-GET requests"
When creating a resource such as `FinancialBatch` or `FinancialTransaction`, the return of the POST request is just the string value of the primary key identifier -- which is not valid JSON.

It would be great if the creation of a resource returned the same response that a GET method does. Additionally, PATCH requests return a 204 no content response. It would be nice for that response to also ret

[2017-07-09 19:10] dcs619 commented on #2306
That behavior conforms to [RFC 7231](https://tools.ietf.org/html/rfc7231#section-4.3.3) ([friendly version](http://www.restapitutorial.com/lessons/httpmethods.html)) and [RFC 5789](https://tools.ietf.org/html/rfc5789).

Relevant sections:
[code]

[code]

Regardless, to see this functionality you would need to modify the API at [the global level](https://github.com/SparkDevNetwork/Rock/blob/develop

[2017-07-09 20:58] taylorbrooks opened #2307 "Odata $expand does not work on an individual resource"
A request to `api/FinancialTransactions?$expand=TransactionDetails` works, whereas `api/FinancialTransactions/{id}?$expand=TransactionDetails` does not.

[2017-07-10 14:40] jimmylee226 opened #2308 "Person attributes not saving when adding a new family member on the external website"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-10 15:47] cabal95 opened #2309 "Cannot disable existing signature documents to cancel existing invites"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-10 20:36] garrettjohnson opened #2310 "Add Financial Pledge as related data view for person"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-10 21:36] NuclearTacos opened #2311 "Typo in eRA badge Tooltip (stock Rock install)"
### Description

The tooltip in the eRA badge says "become" when it should say "became"

### Steps to Reproduce

https://github.com/SparkDevNetwork/Rock/blob/1928822b6a4e92ff327b6a070b18f7f80fca7717/Rock.Migrations/Migrations/Version%205.0/Version%201.5.0/201603142139542_FamilyAnalytics.cs#L102

Can verify on demo site, but no need since it's in source code.
http://rock.rocksolidchurchdemo.com/pag

[2017-07-10 22:42] cabal95 opened #2312 "Content Channel Detail block shows extra item columns"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-11 01:18] garrettjohnson commented on #1444
Looks like a help property has been added for the [RockRating](https://github.com/SparkDevNetwork/Rock/blob/develop/Rock/Web/UI/Controls/RockRating.cs#L78) input. But the [Named Location Picker](https://github.com/SparkDevNetwork/Rock/blob/develop/Rock/Web/UI/Controls/Pickers/LocationItemPicker.cs) is missing on the current dev branch.

[2017-07-11 04:11] #2296 closed

[2017-07-11 11:47] kcirgjd commented on #1400
@garrettjohnson it looks to be.

[2017-07-12 20:35] #1882 closed

[2017-07-12 20:42] arranf commented on #1297
@MrUpsideDown Have you written this? If so, do you want to pull it in or send me the files so I can commit it to core?

[2017-07-12 23:50] azturner commented on #2262
Fixed here: https://github.com/SparkDevNetwork/Rock/commit/17b9f7315e621b57aaf86d696c58d317da37d90d

[2017-07-13 00:17] garrettjohnson opened #2319 "Truncate masked credit card numbers to last 4 digits"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-13 00:18] #1400 closed

[2017-07-13 03:45] garrettjohnson commented on #2254
Confirmed in 6.8

[2017-07-13 04:25] garrettjohnson commented on #2112
Steps to Reproduce

1. Deny a user view access to a group
2. Open groups tab on a profile as the user
3. All Group Memberships are visible

Confirmed in 6.8

[2017-07-13 16:25] edmistj commented on #2266
Note, group types have an implied (and changeable) order. We'd want to return them in this order and it may have logic to it. If you'd like you could put them in alpha order.

[2017-07-13 16:25] #2266 closed

[2017-07-13 16:47] #2200 closed

[2017-07-13 17:16] #1776 closed

[2017-07-13 17:17] #1979 closed

[2017-07-13 17:17] #2272 closed

[2017-07-13 17:35] #2288 closed

[2017-07-13 18:11] #2310 closed

[2017-07-13 23:43] azturner commented on #2289
Updated here: https://github.com/SparkDevNetwork/Rock/commit/45addce0b1d27fe8fe043719305902448f484215#diff-f9dd190cd073670d98388ea34b69a496R62

[2017-07-13 23:43] #2289 closed

[2017-07-14 14:24] edmistj commented on #2271
@MikeDPeterson Can you add a migration to the roll-up for this.

[2017-07-14 14:32] #1584 closed

[2017-07-14 14:56] dcs619 commented on #2271
If a migration is needed to edit the maintenance job, can you also include this command option in the [script](https://github.com/SparkDevNetwork/Rock/blob/develop/Rock.Migrations/Migrations/201701022126386_DataMaintenanceJob.sql#L66)?

Online index rebuilds are supported in SQL Enterprise and Azure SQL, so end users are never affected during maintenance.

[code]

[2017-07-14 15:46] dcs619 opened #2325 "[EN] Refactor AD Authentication"
### Description

In working with AD authentication I've found numerous issues with either performance dependent on certain ports (389, 636, 3268, and 3269 open on TCP, and 389 and 3268 open on UDP).

Additionally, in order for Rock to run on *nix with Mono or another engine (VS Mac?), the dependency for `PrincipalContext` is unsupported.

I realize performance is primarily a network configuration

[2017-07-14 16:03] edmistj commented on #2325
Couple of questions:

1. Is the intent to allow authentication to an LDAP source? If so perhaps this should be a different Auth provider. If you're thinking this would still only be for AD then perhaps a config setting should be added to the Auth provider to allow using LDAP or native AD (perhaps defaulting to LDAP).
2. Can you also research that LDAP is fully enabled and working by default on AD.

[2017-07-14 16:12] cabal95 commented on #2325
Having a config setting would mean it still can't be used on Mono since it would not be able to compile, due to the reference to `PrincipalContext` - unless you did a major amount of Reflection to load everything at run-time.  While running under Mono is not a priority, this is one of the two "major" blockers to a clean compile without modifications to Rock.dll. The other, oddly enough, being the

[2017-07-14 16:16] randyjreed opened #2326 "Transaction Detail - Displays Inactive Accounts"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-14 16:29] JimMichael commented on #2325
Is this just a documentation issue (currently)? We had the mentioned perf problems but were  always able to solve it by opening up both 389 and 636 between Rock and a D.C.

[2017-07-14 21:34] cabal95 opened #2327 "[EN] Streamline Fundraising Donation Entry"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-14 21:47] cabal95 opened #2328 "[EN] Add a "Donate Button Text" attribute to Opportunity Type Defined Values"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-14 21:49] edmistj commented on #2327
I think this is a good addition. I see how it could be of value.

[2017-07-14 22:21] edmistj commented on #2328
👍

[2017-07-14 23:02] #1731 closed

[2017-07-14 23:06] #2079 closed

[2017-07-15 20:29] taylorbrooks opened #2329 "[Consistency] FinancialTransactionDetails Patch Requires Strict JSON, Other Endpoints Don't"
### Prerequisites ###

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [[http://rock.rocksolidchurchdemo.com/](http://rock.rocksolidchurchdemo.com/) demo site ]()?
  * Did you include your Rock version number and [[https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information]

[2017-07-15 21:27] dcs619 commented on #2329
You might need to send it with strict JSON:  `{ "AccountId" : "2" }`.  I just tried it and Rock patched successfully.

[2017-07-15 22:51] taylorbrooks commented on #2329
Yep, that worked for me too.

In that case, I think the `FinancialTransactions/{id}` PATCH behaves differently.

[2017-07-16 20:10] cabal95 opened #2330 "Check-in completely breaks and chews up CPU when attendance codes are exhausted."
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-16 23:26] arranf commented on #2330
I think a long term fix for this could include some sort of warning about the number of possible attendance codes.

[2017-07-17 06:58] garrettjohnson opened #2331 "[EN] Remove extra javascript if not using a 3 Step Gateway"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-07-17 17:23] garrettjohnson commented on #2084
Duplicate/Related to #1700. Where validation is not firing for missing transaction amount

[2017-07-17 18:04] garrettjohnson commented on #1700
Not sure when it was fixed, but this is no longer an issue in 6.8.

[2017-07-17 18:04] #1700 closed

[2017-07-17 20:45] #2202 closed

[2017-07-17 21:07] #2057 closed

[2017-07-17 22:56] DaveRiner opened #2338 "Payment Info Block Disappears When switching to NMI"
### Prerequisites
* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)? No
    * Did you include your Rock version number and [client culture] Yes (https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did

[2017-07-17 22:57] #2191 closed

[2017-07-17 23:08] cabal95 opened #2339 "Group Registration block throws error if no spouse phone number set"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-17 23:28] garrettjohnson commented on #2338
@DaveRiner The page break is due to the way Rock Validates and NMI requests credit card numbers, the payment block is visible on the next screen.

[2017-07-18 00:21] DaveRiner commented on #2338
Wow Garrett that's pretty easy.  I should have been more curious.  Thanks so much for helping me.  I really appreciate it!

I'm new to Rock and wondered if there is a set of screens that would allow one screen plus a confirmation box instead of three screens to make a gift?  A little worried that the double first screen and the third confirmations screen might discourage or confuse following thru.

[2017-07-18 00:30] garrettjohnson commented on #2338
@DaveRiner Glad to help! I'm working on some code that might get NMI back down to two pages. The user experience is something we're all keenly aware of, and I'm inclined to agree the fewer pages the better!

And Welcome to Rock! 🎉 Feel free to join the community on [Slack](https://www.rockrms.com/slack) and on [Ask Rock](https://www.rockrms.com/Rock/Ask)

[2017-07-18 00:30] #2338 closed

[2017-07-18 00:55] garrettjohnson commented on #2251
@eddieholeman I'm having trouble reproducing this, what route are you using to get to the leader toolbox?

[2017-07-18 00:57] #1981 closed

[2017-07-18 11:59] eddieholeman commented on #2251
@garrettjohnson In public website, I am taking the following steps (In order to follow all of these steps, you must be a leader in the fundraising opportunity that you are viewing):

- Load a page with the Fundraising List block and click View Details
- This loads a page with Fundraising Opportunity View block. Click Leader Toolbox.
- This loads a page with the Fundraising Leader Toolbox block. Cl

[2017-07-18 18:54] garrettjohnson opened #2342 "Rename Credit Card # to Card Number on payment forms"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-18 19:12] edmistj commented on #2342
@garrettjohnson we're good with this if you want to make a PR.

[2017-07-18 20:03] garrettjohnson commented on #2342
@edmistj Will do. While I'm at it, what do you think of going from "Routing #" to "Routing Number" and "Account #" to "Account Number"?

[2017-07-18 21:07] garrettjohnson commented on #1944
Fixed via #2289 and Workflows

[2017-07-18 21:41] garrettjohnson opened #2344 "Rock:ButtonDropDownList always renders icon space"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-18 21:57] edmistj commented on #2342
Sounds consistent.

[2017-07-18 23:42] garrettjohnson opened #2346 "[EN] Registrant count related event registration improvements"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-07-19 00:06] kyeschung opened #2347 "Tag Categories in Bulk Update are reversed"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-19 00:09] cabal95 commented on #2347
![image](https://user-images.githubusercontent.com/1119863/28344962-de477a98-6bdb-11e7-9923-0d8d08aaf662.png)

[2017-07-19 00:17] edmistj commented on #2347
Christ Fellowship found this too. Ironic that it's been there for so long and then every finds it at once.

[2017-07-19 00:18] #2261 closed

[2017-07-19 00:24] garrettjohnson commented on #2347
Looks like it's fixed in 6.9. https://github.com/SparkDevNetwork/Rock/blob/hotfix-1.6.9/RockWeb/Blocks/Crm/BulkUpdate.ascx.cs#L94

[2017-07-19 00:25] #2347 closed

[2017-07-19 15:44] azturner commented on #1944
@garrettjohnson , we actually like the idea of the inactive reason being written as a person history note in the timeline which I don't think the fix you mention added. So re-opening this.

[2017-07-19 15:49] #2342 closed

[2017-07-19 16:31] JimMichael opened #2356 "Cannot sort on Person Attribute in Entity Command"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-19 19:59] DerekMangrum opened #2357 "User Entry Form Command Button URL In Notification Email Template Is Incorrect"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-19 20:08] azturner commented on #2312
Fixed here: https://github.com/SparkDevNetwork/Rock/commit/bd506d07

[2017-07-19 20:08] #2312 closed

[2017-07-20 00:45] cabal95 opened #2359 "[EN] Pre-population of data in TransactionEntry block"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-20 02:40] JimMichael opened #2360 "Job notifications were never implemented"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-20 07:18] edmistj commented on #2359
This is good to implement. While I know that they are not case sensitive let's keep all the parm names Pascal case. So `frequency=123` should be `Frequency=123`. We have not been super consistent with that, but we're trying to be better.

[2017-07-20 14:20] edmistj commented on #2359
While you're in there, what do you think about adding a third option on `AccountIds` to make it so the amount could not be changed? `?AccountIds=5^100^false`. I suppose the easiest way to achieve this is to mark the field as disabled. It would be better UI to show it as as `form-control-static`, but that would make reading the value when complete difficult.

Thoughts?

[2017-07-20 16:16] cabal95 commented on #2359
Sounds good to me. I can see the use for that too.  For now I'll probably mark it disabled as changing it to a static control would require a much more invasive change. We can leave that for a later time.

And yes, I'll tweak the param naming. It's sometimes hard to remember (as a programmer) since they are actually not case sensitive. So when we do it wrong we don't notice. :)

[2017-07-20 17:13] edmistj commented on #2359
Thanks Daniel!

[2017-07-20 22:48] cabal95 commented on #2252
Okay, so here is some output from the filter. These values are all from the Uri helper. I noticed there were some "oddities" that the average user may not expect that we might want to filter, such as the segments including a trailing `/` if it is not the last segment.

I used `url` as the filter argument to get the "full url". I didn't use `fullurl` as I thought that might lead to confusion about

[2017-07-20 23:08] edmistj commented on #2252
@cabal95  Looks good. Let me get back to you on `parm` vs `param`. I always use `parm` but I should get input from the full team on a standard. After doing a little searching I've found that I'm a ['scourge of society'](http://discuss.fogcreek.com/joelonsoftware4/default.asp?cmd=show&ixPost=129178) according to Joel Spolsky.  I do feel better though that the Apple II Applesoft Basic manual also us

[2017-07-20 23:21] cabal95 commented on #2252
You must have worked at IBM in a past life ;)

[2017-07-20 23:50] cabal95 commented on #2344
Just to add a note related to this control, this control also ignores `Enabled="false"`.

[2017-07-21 08:27] arranf commented on #2252
@edmistj I always thought you just used parm because of some keyword conflict. Didn't realise there was an actual debate raging!

[2017-07-21 13:17] edmistj commented on #2252
@arranf I didn't know of any debate, just what I always did. Not sure where it came from (guess I'm too old to remember).

[2017-07-21 14:37] kyeschung opened #2365 ""Recieved" is misspelled in Communication History log"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-21 15:04] edmistj commented on #2365
Thanks for the heads up. This was fixed with this commit and will be in v7.
https://github.com/SparkDevNetwork/Rock/commit/fc675cc08675374a464b95e5f7555f3eed35a82c

[2017-07-21 15:04] #2365 closed

[2017-07-21 17:53] edmistj commented on #2252
@cabal95 let's solve this by not abbreviating it. So `queryparameter`. That allows the debate to continue.

[2017-07-21 21:52] jonedmiston opened #2366 "Ensure that Currency Reporting Fields Format Correctly"
### Prerequisites ###

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [[http://rock.rocksolidchurchdemo.com/](http://rock.rocksolidchurchdemo.com/) demo site ]()?
  * Did you include your Rock version number and [[https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information]

[2017-07-23 19:41] cabal95 opened #2368 "FollowingsHelper.SetFollowing() should be called in OnPreRender"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-23 21:49] cabal95 opened #2369 "[EN] Workflow Triggers should allow for "did value change in any way" check"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-24 01:46] kyeschung opened #2370 "Misspelled word in description of field in Check-in Label"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-24 02:20] edmistj commented on #2370
@kyeschung Thanks! I added a migration fix for v6.9.

[2017-07-24 02:20] #2370 closed

[2017-07-24 22:21] edmistj commented on #2369
@cabal95 are you thinking this would only be for the 'Pre-Save'? That's the only option that has both a "from" and "to".

[2017-07-24 22:23] cabal95 commented on #2369
If that is the only place where it is available right now, then yes.  I'm sure there is probably some odd EF reason why it's not available as a post-save.

[2017-07-24 22:33] edmistj commented on #2325
If going forward please implement as a new provider.

[2017-07-24 23:51] #2252 closed

[2017-07-25 16:31] randyjreed opened #2373 "Lava will not pull GroupId if single member family"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-25 16:50] edmistj commented on #2373
I haven't tested this, but since `family` is a group shouldn't this be `family.Id`?

[2017-07-25 17:56] dcs619 commented on #2271
Fixed in v7, 69e0840852b5f6c7672f2742af3022acd23997d9

[2017-07-25 17:56] #2271 closed

[2017-07-25 18:06] garrettjohnson opened #2374 "Registration person note adds duplicate "registered by" names"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-25 18:08] cabal95 commented on #2373
Since the `Groups` filter actually returns `GroupMember` records, his Lava syntax is correct. It should be `family.GroupId`. I haven't had a chance to replicate the issue yet, just verified that the syntax he gave should (and does on my server) return a group Id number on a normal record.

My hunch, is that somehow a family group is not being created for the person in question.

[2017-07-25 18:19] edmistj commented on #2373
@cabal95 you're right. Might suggest adjusting the variable names to be:

[code]
Would make readability easier since families are actually groups.

[2017-07-25 18:27] cabal95 commented on #2373
Think I may have found it. The `Groups` filter limits to Groups that are Active. For some reason, Alisha Admin on the demo site's family group is inactive.  @edmistj should Familiy groups ever be IsActive = false?

[2017-07-25 20:20] cabal95 commented on #2373
@randyjreed Run this SQL and see what comes up. This should be a list of all Person records that are themselves not in-active _but_ are members of only Inactive families. We have a single record here at Shepherd that comes up and the Alisha admin record also matches this query.

[code]

If it is just a few people that come up, I would pull them up and edit them and save to fix the record. If it is

[2017-07-25 20:23] randyjreed commented on #2373
@cabal95 The only result is our admin account. Same as the demo site.

[2017-07-25 20:41] cabal95 commented on #2373
The only way I can replicate this is by running the above Lava against a person that is inactive (other than the previously mentioned case where the data is wrong and the person is active but the family is not). When a person is made inactive and they are the only one in their family then the family is also set inactive (which hides it from the `Groups` results). If an active child is moved into t

[2017-07-25 21:48] JimMichael commented on #2032
Ok, I'm not sure if something changed or I missed this the first time around (and submitted this issue)... but the attendance badges (for groups in sub areas) are working now! To be honest, I had forgotten I created this ticket, and the other day I noticed the attendance badges weren't working for kids I knew had attended, so (apparently unlike before) I went to the group type of one of my areas a

[2017-07-26 19:12] cabal95 opened #2376 "Fundraising Matching page has no explicit security set"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-26 22:47] garrettjohnson opened #2377 "Attendance history filter options won't clear with "Clear Filter""
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-27 15:49] Sandra5238686 opened #2378 "Log in issue"
### Prerequisites
* [ ] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [perfo

[2017-07-27 16:21] edmistj commented on #2378
@Sandra5238686 this issue list is for bugs in the code of Rock. You'll get better troubleshooting advice either on our Slack community (rockrms.com/slack) or our Q&A site (rockrms.com/ask)

[2017-07-27 16:21] #2378 closed

[2017-07-27 17:09] knolly42 commented on #1216
This is still an issue sadly, well at least on McKinley 6.7. Has anyone managed to track down a manual fix for it at all please?

We are setting up to go live in September this year and wanted to use the Excel export for our kids ministry where WiFi is not guaranteed.

Any guidance would be really appreciated thanks

[2017-07-27 17:18] NuclearTacos commented on #2356
Replicated on 6.5.  I understood the command to work the way Jim does.

[2017-07-27 17:46] NuclearTacos opened #2379 "| Index Filter Broken"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-27 18:00] cabal95 commented on #2379
Filter works correctly, but documentation is wrong. It's actually a v7 filter not a v1. When you try to use an undefined filter the original data is returned (i.e. it behaves like the filter just wasn't in your markup).

@edmistj Can you update the docs?

[2017-07-27 18:04] edmistj commented on #2379
Done

[2017-07-27 18:04] #2379 closed

[2017-07-27 18:05] NuclearTacos commented on #2379
Well that makes WAYYYY too much sense :laughing: I didn't check to see what the array looks like without a filter and I just assumed it would look more JSON'y / joined with commas.  Thanks guys!

[2017-07-27 18:37] azturner commented on #1216
@knolly42 This will be fixed in the v7 release. Until then, you can use a Lava field to display and export the grade correctly:
![reports rock rms](https://user-images.githubusercontent.com/548180/28686383-e4deaeae-72bf-11e7-9baf-a237245dd0a5.png)
(You do need to include the ID column, but it can be hidden)

[2017-07-27 20:48] knolly42 commented on #1216
Oh Wow!! THANKSSS!!!

Now I can rest up for the remainder of my evening..

So grateful, God bless you

On Thu, Jul 27, 2017 at 7:37 PM, David Turner <notifications@github.com>
wrote:

[2017-07-30 18:38] #2373 closed

[2017-07-30 18:48] randyjreed opened #2380 "[EN] Groups Filter - Add option to include inactive groups"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-31 15:18] cabal95 opened #2381 "[EN] Image Field Type should support restricting preview-size"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-07-31 16:53] garrettjohnson opened #2382 "[EN] Make search by name match characters with accents"
### Description
When searching by name accented characters are not matched by their unaccented counterparts. For example `Rodriguez` does not match `Rodríguez`, `Cafe` does not match `Café`, etc. This causes issues for checkin and search by name.

This [Stack Overflow question ](https://stackoverflow.com/questions/2461522/) might be relevant as well as this: https://stackoverflow.com/questions/741

[2017-07-31 17:35] edmistj commented on #2381
I've run into this several times also. In v7 we added a setting to allow you to format the formatted value of an attribute of type image. This allows you to have complete control of how the image gets formatted (could even add lightbox support). Does this fit the bill?

![31-07-2017_10-33-26-chrome](https://user-images.githubusercontent.com/548178/28789849-e545fbbc-75db-11e7-8637-3a09b5773d9e.png)

[2017-07-31 17:37] cabal95 commented on #2381
Yes, I think that will work. It's not as user friendly, but I think the user-friendliness can be solved by (later) adding a new class of `img-responsive-small` that also limits the size - or something like that.

Love this change BTW!

[2017-07-31 17:37] #2381 closed

[2017-08-01 17:01] briankalwat commented on #2356
Replicated on 7.0 (1.7.0.33).

[2017-08-01 19:50] NuclearTacos opened #2383 "[EN] "Dependent" Fields"
### Description
We've run into a limitation with a lot of our forms where we want to have two separate options on a form, but have the choice of the early options influence your options of the latter options.

I know this is a substantial request, but I have an idea that should be able to make the implementation much easier. :grin:

Example:
We have campuses 1 and 2.  Campus 1 meets at service tim

[2017-08-01 21:27] cabal95 commented on #2383
While there isn't anything now that allows for this, I think the "template" set forth by the upcoming Matrix Attribute type would allow for this.  If a similar field type, lets call it "Conditional Attribute Type", was created that let you add Attributes to it (just like you can with matrix) but also provided a sort of "qualifier" like the EntityQualifierColumn/Value functionality, to make those a

[2017-08-01 23:18] JimMichael opened #2384 "Page View Retention Period no longer persists and stays blank"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-01 23:28] cabal95 commented on #2384
I'm not sure it ever worked.  It doesn't exist on my 6.2 RockIt install, and it doesn't work on our 6.3 production install.

[2017-08-01 23:46] edmistj commented on #2383
We do have a plan to add Conditional Fields to entry forms. This was a mockup we did for the feature.

![01-08-2017_16-44-51-balsamiq mockups 3](https://user-images.githubusercontent.com/548178/28851632-d4739044-76d8-11e7-834c-06e8371afc96.png)

[2017-08-02 14:36] JimMichael commented on #2384
Hmm.. you're saying the setting isn't even THERE in 6.2? I could swear it worked at some point as I "remember" changing the settings several times, but I guess I could have imagined it.

[2017-08-02 15:16] NuclearTacos opened #2385 "[EN] Allow Naming of Filters in Dynamic Report Block"
### Description

I've pinned down Dynamic Report Blocks as the best way to accommodate people that have had trouble learning how to use Data Views and Reports.  I think it would be very helpful to these people if we were able to write the title of a filter (sort of like how you can name a column in a Report to be more specific to the end user).

### Solution

I think it would be **extremely** help

[2017-08-02 19:40] NuclearTacos commented on #2383
Nice!  I definitely see the power in that.

On my 2nd look, I realize that in my example of Campus to Service Time, using your solution would require me to have an Attribute for every campus (since we would only be able to reveal full fields according to the logic).

The advantage to something like this defined value is that you would only need to generate one stack of values, rather a Workflow At

[2017-08-02 19:47] NuclearTacos commented on #2383
oops, didn't mean to add an additional comment

[2017-08-02 22:23] NuclearTacos commented on #2383
The biggest core difference between the two solutions seems to be that your solution seems to allow one option of a UEF to allow multiple different kinds of forms.  Where the goal of my solution is to allow a single Attribute that is multi-faceted.  This could even extend beyond UEFs to be used as Person or Group Attributes!

[2017-08-02 22:32] edmistj commented on #2383
I do think that your solution is creative.  You're second point would be solved by matrix attributes. They're pretty powerful, though there will be some limitations (limited reportability).

[2017-08-02 22:37] NuclearTacos commented on #2383
All I ask is to keep it on the table.  Although I feel like this arrangement is a silver bullet for the issue that made me think up this solution, I haven't though up enough problem-cases that necessitate the introduction of a feature like this.

Although, it does give me something to work towards in my own development journey :grin:

[2017-08-03 16:51] cabal95 opened #2386 "[EN] Allow entity objects to specify inherited attributes"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-03 16:58] kyeschung commented on #2385
Yes! I love this suggestion. It would also be helpful to order the filters, as there is no way to order the Dataview Filters when creating/editing a Dataview and so I have to delete and add again in the order I want them to show in the Dynamic Report.

[2017-08-03 17:02] kyeschung commented on #2383
If conditional logic is on the roadmap, that's good enough for me. Hard to go completely Rock with forms without it.

[2017-08-03 17:07] edmistj commented on #2386
This makes a lot of sense. Might change the method from IEntity to the abstract Entity class so it's not a breaking change. See any issues with that?

[2017-08-03 17:35] cabal95 commented on #2386
I keep forgetting that in C# you can't change an interface without it breaking compatibility. The only concern I would have is, since LoadAttributes is not a "class typed" method (e.g. LoadAttributes<T>), I'm not sure if we can do a `if ( entity is Entity<T> ) { }` and then cast it to that type, since we don't know what `T` would be. I'm not familiar enough to know if there is a (normal) way aroun

[2017-08-04 18:33] cabal95 commented on #2386
I'm thinking the proper way to do this is probably with a new interface called `IHasInheritedAttributes` that defines the `GetInheritedAttributes`. Then only the entities that have inherited attributes would "use" the `IHasInheritedAttributes` and `LoadAttributes()` could key off that.

[2017-08-05 17:38] chrisgo opened #2387 "[EN] Add Plivo as SMS Communication Transport"
Consider adding Plivo as an alternative to Twilio as SMS Communication Transport

If sending a lot of SMS communications, could reduce cost by 50% or more at current rates.

Twilio Pricing https://www.twilio.com/sms/pricing
* Phone # $1.00/mo
* Receive $0.0075
* Send $0.0075* (I think the asterisk means extra charge for short codes)

Plivo Pricing https://www.plivo.com/pricing/#!sms
* Phone # $0.8

[2017-08-05 17:51] cabal95 commented on #2387
I'm kind of confused by their pricing. In the link you provided it gives one price and then below it gives per-carrier prices. The way I read Plivo's pricing is that _they_ charge $0.0035 outgoing and $0.00 incoming, but then you have to pay the carrier pricing on top of that, which equates to an average of $0.004 outgoing and $0.003125 incoming. For a total of $0.0075 outgoing and $0.003125 incom

[2017-08-05 17:53] arranf commented on #2387
@cabal95 Those are shortcode prices.

[2017-08-06 03:42] mikejed commented on #2249
This still doesn't fix all the issues - Person.Fullname needs to be changed to Person.FullName

[2017-08-06 03:47] azturner commented on #2249
@mikejed Where are you seeing Person.Fullname in the updated files (or is there a different file?)

[2017-08-06 03:54] mikejed commented on #2249
Sorry @azturner I just glanced at the commit and saw the same lines I had tested for https://www.rockrms.com/page/278?Question=1685
...but failed to note they were highlighted in red. It looks like the incorrect capitalization was only in the {% if %} tag, not in what printed.
Interesting that the original If conditions tags appeared to work if I fixed the Person.FullName capitalization. I suppose

[2017-08-06 04:20] mikejed commented on #2249
Confirmed this fix works. Sorry again for sounding an alarm before doing a thorough test- I know that 6.9 beta is due very quickly so I wanted to get this out based on what I (thought) I saw and then post back with further testing. You're really quick to respond ;-)

[2017-08-06 04:20] #2249 closed

[2017-08-06 19:37] cabal95 opened #2388 "[EN] Sending System Emails should resolve FromAddress/FromName per-recipient"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-08-07 11:19] azturner commented on #2249
@mikejed No problem. Thanks for all your help with the alpha and beta testing.

[2017-08-07 18:32] taylorbrooks commented on #1708
Not to be an alarmist...

IMHO, this should be a hotfix. If unencrypted card data is leaked into logs and Rock keeps those logs around; then those organizations are not complying with PCI-DSS and probably doing so unknowingly.

The minimum fine for simply being out of compliance (no breach) is $5,000 per month (up to $100k depending upon your volume). These fines can also be levied retroactively.

[2017-08-07 18:44] azturner commented on #1708
@taylorbrooks Thanks for catching that. We've added it to v6.10.

[2017-08-07 18:48] taylorbrooks commented on #1708
👍

[2017-08-08 07:50] arranf opened #2390 "Workflow Triggers Not Saving On Initial Connection Opportunity Creation"
### Prerequisites ###

* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [[http://rock.rocksolidchurchdemo.com/](http://rock.rocksolidchurchdemo.com/) demo site ]()?
  * Did you include your Rock version number and [[https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information]

[2017-08-10 22:06] edmistj commented on #2227
@arranf Are you still working on a fix for this?

[2017-08-10 22:26] #2377 closed

[2017-08-10 22:37] #2374 closed

[2017-08-10 23:39] mikejed opened #2393 "Lava | ToCssClass not stripping or escaping special characters"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-10 23:41] cabal95 commented on #2393
I would say replaced with `-` as that seems to be sort of the "common practice".  i.e. `this-that`.

[2017-08-10 23:41] mikejed commented on #2393
I was just thinking the same thing. I agree, thanks

[2017-08-14 15:17] cabal95 opened #2396 "Cannot run specific county background checks"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-08-14 17:53] #2393 closed

[2017-08-14 18:06] mikejed commented on #2393
Nice and clean Jon, thanks
________________________________
From: Jon Edmiston <notifications@github.com>
Sent: Monday, August 14, 2017 10:53:57 AM
To: SparkDevNetwork/Rock
Cc: Michael Garrison; Author
Subject: Re: [SparkDevNetwork/Rock] Lava | ToCssClass not stripping or escaping special characters (#2393)

Closed #2393<https://github.com/SparkDevNetwork/Rock/issues/2393>.

—
You are receiving th

[2017-08-15 03:54] treyhendon opened #2397 "Contribution Statement Lava Needs Additional CSS for Pledge Progress Bar"
https://github.com/SparkDevNetwork/Rock/blob/5a6798a61043d6d77d585adf6ad0655001fc5136/RockWeb/Blocks/Finance/ContributionStatementLava.ascx.cs#L152

Needs `max-width: 100%; min-width: 2em;` added to the progress bar in-line CSS.

* `max-width: 100%;` will keep the percentage label centered when >100% has been received.
* `min-width: 2em;` will keep enough of the bar graph in place to display `0%`

[2017-08-15 16:02] cabal95 commented on #2396
@edmistj Any general thoughts on how to accomplish this?  Should an additional method be added to the BackgroundCheckComponent that accepts attribute keys for County and State and if provided use those rather than the current logic?

[2017-08-15 16:06] cabal95 opened #2398 "Inline document signing requires matched URI schemes"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-15 16:07] edmistj commented on #2396
@cabal95 I'm thinking we'd need to research a bit with the PMM API to determine what would need to be done. I was thinking it might be good to have a way to submit these requests outside of the workflow action. So if a response came back and you wanted to dig in more you could run them out of band and update the person attributes manually.

What do you think of this solution.

[2017-08-15 16:39] cabal95 commented on #2396
I would probably need more details on exactly what you are thinking.

Out of band is what we have to do now. They get a check back then have to login to PMM and manually run the extra checks, then remember to go into Rock and update everything. This seems like a common scenario (run a background check with county search, it comes back clean but reports previous counties that need to be searched as

[2017-08-15 16:42] edmistj commented on #2396
@cabal95 that sounds good. I think it's very achievable as long as all that's not having to work within the workflow. When I say 'out of band' I mean outside of the workflow.

[2017-08-15 16:48] cabal95 commented on #2396
Okay. I'll see if I can talk with Hoff some more about a more specific plan.  I think we might need to modify the existing workflow to not store the document and date on the person until after the admin user selects either Approve/Deny.

I just noticed that it stores immediately upon receiving it. Even unrelated to this specific issue discussion; if we have a BGC that shows records and then run an

[2017-08-15 20:31] cabal95 opened #2399 "Metrics do not inherit security from categories"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-15 22:38] NuclearTacos opened #2400 "[EN] Family Id as Report Option"
### Description
It's pretty straight forward.  I think that Rock reports should give you an option to include Family Id's a column so you can dedupe on them in Excel when you're doing mailers or counts.  I feel like I explain the same way to do it 5 times a month, and having a filter that handles the lava for you would make it easier to explain to people.

Currently, I include the Person Id as a c

[2017-08-16 00:51] #2344 closed

[2017-08-16 01:34] cabal95 opened #2401 "Cannot follow multiple items on single page"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-16 17:18] cabal95 opened #2402 "GroupRegistration block calculates capacity incorrectly"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-16 21:30] mkinyon opened #2403 "Incorrect refund amount when refunding a check transaction"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-08-17 16:04] dcs619 opened #2405 "[EN] Handle multiple phone number types?"
### Description

As churches convert their data, they often have multiple phone numbers listed of the same type that they want to keep.  Rock's data model and Read-only view allows for this capacity, but the Edit view does not.  This seems inconsistent and the Edit UI should display multiple numbers of the same type if they exist.

The most important requirement for PhoneNumbers is that only one n

[2017-08-17 16:11] cabal95 commented on #2405
There are potential issues with things like the Lava filter `PhoneNumber` which expects there to be only one phone of the given type.  Additionally, I think many other parts of the system (including most custom blocks I have written) assume only one phone number of a given type. One example is the GroupRegistration block, which assumes only one phone number of each type.

[2017-08-17 16:24] NuclearTacos commented on #2405
This might need to be a separate issue, but I also think there should be view/edit control on phone number types.  This way you can have pastoral phone numbers that can't exposed to volunteers who need to be able to edit people's phone numbers for check-in.  Unlisting is nice, but it loses its value immediately when a person you can't 100% trust is able to edit people.

[2017-08-17 17:27] edmistj commented on #2405
Like email I think we need to keep a single record of truth for things like mobile phones. There are cases where we need to report a single mobile phone. In these cases we wouldn't know which to pick. Also, much of the features we'd like to add in the future will need to be able to query a person by their mobile number (e.g. Text-To-Workflow). Having people put multiple cell phones on a person (li

[2017-08-17 17:40] dcs619 commented on #2405
@edmistj Works perfect - just wanted to fix the UI inconsistency once I saw it exists.

Can we add a PhoneNumber constraint that enforces a unique PersonId and NumberValueTypeId?  And by `we` I mean `y'all` since it would require a migration 🙂

[2017-08-18 15:37] treyhendon commented on #1869
A slightly easier work around for finance would be to add this HTML/Lava to an HTML block on the Registration Details page.  Make sure to set cache = 0 and enable Rock Entity on the block.

Warn them to always open the link an an Incognito Window - otherwise they'll have to close browser and log in again.

[code]

[2017-08-21 11:39] #2384 closed

[2017-08-22 14:15] briankalwat opened #2407 "[EN] Add Event Occurrence-Specific Attribute Values"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-22 14:26] bengoshow opened #2408 "Content Channel View isn't returning Items from channel after upgrade"
### Description

Upgraded Rock from 6.2 to 6.8. Now it seems that our Content Channel View block isn't returning any items for the "Podcast Message" channel. I have debugging enabled, and there is nothing returned in the "Items" object.

### Versions

* **Rock Version:** 6.8
* **Client Culture Setting:** en-US

[2017-08-22 14:47] edmistj commented on #2408
You might check the settings of that block to ensure that the Content Channel Type is not blank. Let me know.

[2017-08-22 14:51] bengoshow commented on #2408
It's not blank (although that setting is blank on the Rock demo site)

[2017-08-22 14:52] edmistj commented on #2408
Did you try flushing the cache?

[2017-08-22 14:53] bengoshow commented on #2408
I did.

[2017-08-22 15:05] aaronjones8 commented on #2408
There error is happening in the file ContentChannelView.ascx.cs when trying to set the list to the podcast message. It is looping through 4 times from the different content channels on the page.

line is 860. It is setting the items = itemQry.ToList()

The last time it loops through, it sets the items = itemQry.ToList() which is setting the items to 0

[2017-08-22 15:17] aaronjones8 commented on #2408
My church's website is on 6.8 and the podcast messages do work fine on it so I don't believe it is an issue with the block but I also don't see any issues on the Content Channel settings when looking at it.

[2017-08-22 15:35] cabal95 commented on #2407
This is also something we recently discussed in-house as a "need" (meaning it would be very useful). Especially with graphics for annual events. e.g. we would expect to re-use the "4th of July" event each year with new occurrences, but the graphic is tied to the "main" event, not the occurrence.

[2017-08-22 15:39] aaronjones8 commented on #2408
I found that the entityField is being set on line 830 based on the PageId which doesn't seem to be correct. I'm not sure if something isn't clearing from there being 4 Content Channels on that page. With the podcast on my church website, there is only 1 Content Channel on the page.

Ben, I implemented a quick fix on the server for now so that it works on the live and dev sites

[2017-08-22 15:42] bengoshow commented on #2408
Seems weird that the Content Channels in the Footer are still working as expected though.

[2017-08-22 15:43] aaronjones8 commented on #2408
I believe that is because they don't have the option as being filtered by querystring. That is when that code is hit

[2017-08-22 15:44] cabal95 commented on #2408
I'm not positive, but I think the "filter by query string" is only meant to be used on the content item detail page to view a single item as passed in the query string.

[2017-08-22 15:46] aaronjones8 commented on #2408
Yeah it looks like it isn't playing nice because there are 3 other content channels on the page (Header links, social links and footer links) and then the Podcast Message content channel that is being filtered by the query string

[2017-08-22 15:48] bengoshow commented on #2408
Hi Daniel! Yep, that's the page we're seeing the issue on. The Podcast Message page, where the query string contains the Item value.

[2017-08-22 15:49] cabal95 commented on #2408
Can you post a link that should be working but isn't?

[2017-08-22 15:49] bengoshow commented on #2408
Yep. I'll find you on Slack

[2017-08-22 16:10] cabal95 commented on #2408
@aaronjones8 The line of code you mentioned should only be a problem if a parameter on the query string matches an entity field and adds a new filter point.  Can you verify which entity field / attribute that is happening on?  No match would mean that `items = itemQry.ToList()` would simply set items back to it's original value of 1 item.

[2017-08-22 16:11] azturner commented on #2408
@aaronjones8 Can you describe what you changed in the block?

[2017-08-22 16:33] aaronjones8 commented on #2408
I originally just added a fix so that the block of code wasn't hit.

I found that actual issue was the it was grabbing the first entity with the key of PageId. They had a content channel with an attribute of that key. I changed the key name to be SOSPageId and that resolved the issue

[2017-08-22 16:38] bengoshow commented on #2408
Thank you, Aaron! Will that key name change need to be updated in our theme elsewhere?

[2017-08-22 16:39] cabal95 commented on #2408
@aaronjones8 Just to clarify - so a key in a _different_ content channel was causing the issue?  If so that I would consider a bug, especially since that block requires you to select the content channel you are working with in the block settings.

[2017-08-22 16:43] aaronjones8 commented on #2408
@bengoshow I didn't see what lava template that content channel was using. If you were calling PageId for the key, just change it to SOSPageId

@cabal95 Yes that is correct. It was a different content channel that wasn't even on the page.

[2017-08-22 16:53] aaronjones8 commented on #2408
@cabal95 I changed that key name back to PageId for the other content channel and modified the code locally to

var entityField = entityFields.FirstOrDefault( f => f.Name.Equals( key, StringComparison.OrdinalIgnoreCase ) && f.AttributeEntityTypeQualifierName.Equals(contentChannel.ContentChannelType.Name, StringComparison.OrdinalIgnoreCase));

so that it compares the Content Channel name to make su

[2017-08-22 17:05] briankalwat commented on #2407
@cabal95 yes, and right now to accomplish that, you'd have to have the same description, etc copied across multiple events just so a single attribute value can be different - which means if the description changes, you're having to go update all of them which is less than ideal.

[2017-08-23 18:15] garrettjohnson opened #2411 "Update Groups Save Address API to use JSON"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-08-24 02:02] garrettjohnson commented on #2411
[Found a removed note](https://github.com/SparkDevNetwork/Rock/blob/430fdabe689608df074207e9dd0ab6bc79d21c69/Rock.Rest/Controllers/GroupsController.Partial.cs#L411) that mentions the solution. `Use ~api/Groups/SaveAddress/{groupId}/{locationTypeId}?street1={street1}&city={city}&state={state}&postalCode={postalCode}&country={country}`

While this works as expected, I'm hesitant to close the issue s

[2017-08-24 05:23] cabal95 commented on #2411
Just to note, the WorkflowEntry API endpoints also use query strings to pass data into the Workflow via workflow attributes.

[2017-08-24 22:04] cabal95 opened #2412 "Security Mismatch on Edit Page button in Admin toolbar"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-24 22:11] JimMichael commented on #2412
This has bugged us, too, and I think edit rights on the page should expose the Edit button in admin toolbar. I had to make someone an Administrator on a page just so she could edit page attributes (which, with our theme, can be considered a "content manager" task) Giving her the alternate pagemap/modal url workaround isn't really viable. So now she has way more rights than she needs _just_ to see

[2017-08-24 22:30] #2408 closed

[2017-08-24 23:36] MikeDPeterson commented on #1878
fixed in v7 with https://github.com/SparkDevNetwork/Rock/commit/a805d489a9bf92e6b0cfa5262b7c1eff3ad70bce

[2017-08-24 23:36] #1878 closed

[2017-08-25 20:49] #2276 closed

[2017-08-25 21:46] cabal95 opened #2413 "Activity Attributes in Workflow do not show actual value in Entry Form"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-25 22:08] cabal95 opened #2414 "Ability to attach binary files to e-mail via Lava"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-29 03:19] danielmilner opened #2416 "Remote lava endpoint will not render group data"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-29 15:09] cabal95 commented on #2416
@danielmilner I'm pretty sure this is a security feature.  I think you need to enable entity commands globally to use them in the Rock API.  But the problem is that then anybody who has a login to your database (such as small group leaders) can run entity commands themselves and get to all your data, including sensitive data like finances.

There is a feature in Rock v7 coming that should make thi

[2017-08-29 15:21] danielmilner commented on #2416
@cabal95 Thanks, I will look in to that. I thought that it was odd though that People and Content Channels were working, but Groups were not.

[2017-08-29 15:30] cabal95 commented on #2416
So if you do `{% person ... %}` into the API that works?  Those should be tied together with the same security setting(s).

[2017-08-29 15:32] danielmilner commented on #2416
Yes. For example, if I take the following example from the Lava documentation:

[code]
It will return a list of names.

[2017-08-29 15:48] cabal95 commented on #2416
Confirmed on our production rock 6.8 install. `{% person %}` entity commands work, `{% group %}` entity commands do not. Even tried just `{% group id:1234 %}` and that doesn't work either. Don't see anything obvious in the code for the API handler (it's pretty straight forward).

[2017-08-30 03:38] arranf opened #2418 "Rock Project File Format"
## Goal
To discuss and agree on the specification of the proposed Rock project file format.

## Background
There's currently no way to discover community Rock projects created by the community. To improve discoverability and accessibility it was proposed today (RX2017 Day 2) that projects include a standardised Rock project file in their repository to describe their project. This file can then be

[2017-08-30 03:40] arranf commented on #2418
@mikejed @chrismcgrath @cbump @trydyingtolive @cabal95 @garrettjohnson @Tschrock

[2017-08-30 04:05] arranf commented on #2418
I think the [NPM package.json](https://docs.npmjs.com/files/package.json) is a good place to take inspiration.

I like the following information they track:
* name
* version
* homepage
* license
* files
* dependencies

Additionally, on my way home, I was thinking in the long term this file could be used to decrease the friction (optionally) when submitting a Rock plugin. The contents of the `run.s

[2017-08-30 10:36] cabal95 commented on #2418
Part of my writeup will include a powershell script that takes various bits of information from the repository and automatically builds the .plugin zip file, including auto-generation of the `deletefile.lst`. It's not 100% but probably works enough generate the files for 90% of the plugins that will be submitted (Things like the room management plugin are probably complex enough to still need a ma

[2017-08-30 15:35] arranf commented on #2254
Digging into this it looks like there was an intention change as to what a default category would should do at some point. Currently if the category is not set by the requester the default category will be set during the save step but the category picker is set as required.

I'm going to fix this to follow the pattern used by other blocks of auto-populating the field using the block setting.

[2017-08-30 15:54] #2254 closed

[2017-08-30 16:41] arranf commented on #2227
@edmistj Sorry, didn't get far with this. I got to tracking the filename replace needing to occur to `Rock\Web\UI\Controls\FileUploader.cs` but not much further.

[2017-08-30 17:08] #2112 closed

[2017-08-30 19:52] arranf commented on #2418
@cabal95 I've got one of those too. I was thinking more along the lines of the friction with the web UI, it'd be nice not to have to resubmit information that remains the same. Of course by no means is that necessary for what we're trying to achieve here, I just thought it'd be a useful extension of the file if we went down a JSON route.

[2017-08-30 20:27] nairdo commented on #2418
@cabal95 I'm using the csproj msbuild to package the Room Management Plugin and version stamp it on "Release" build but I'm intrigued by your powershell approach.

[2017-08-30 20:35] garrettjohnson commented on #2414
This is an awesome idea, making it medium agnostic could be helpful for future development efforts, especially considering the buzz a vcard created at RX2017 😄

[2017-08-30 20:49] cabal95 commented on #2418
Just spinning here, does it make more sense to use a keyword/label like `rockrms-plugin` to identify these? Not sure what kind of character limit we might have to work with.

[2017-08-30 20:56] cabal95 opened #2419 "Plugin Repository Structure Standardization"
### Goal

To discuss and agree on a standard structure that Rock plug-in repositories could (should?) adhere to in order to simplify the sharing of code between developers.

### Background

Currently most plug-in developers have their own repository structure. This makes it difficult to quickly jump into another developers repo and understand where things are and how to find new things. It also pr

[2017-08-30 20:58] arranf commented on #2418
@cabal95 That might get confusing if the repo is a Rock fork (say like Newsprings) and it's tagged as a plugin. We could make the extension explicit though?

[2017-08-30 21:05] KelleyLangkamp opened #2420 "[EN] Ability to make event registration fees required"
### Description

We have a number of event registrations every year where they need to choose an option for each registrant.

Example: For our Women's Conference, each registrant needs to choose if they are getting a Full Conference ticket - $50, Friday Only ticket - $20, Saturday Only ticket - $30, or a Student ticket - $30

With the current out of the box options, there is no way for us to make

[2017-08-30 21:19] arranf commented on #554
This works in 6.8.

[2017-08-30 21:19] #554 closed

[2017-08-30 21:24] cabal95 commented on #2419
Below is a writeup of how I currently structure my plugin repositories. Hopefully it makes sense. This is just one implementation currently in use by developers to be discussed.

### Folder Structure

Here is a brief outline of the folder structure that I use in my github
repositories. A sample of this structure format can be seen in this repo, https://github.com/ShepherdDev/digital-signage

[code

[2017-08-30 21:51] #984 closed

[2017-08-30 21:59] #1061 closed

[2017-08-30 22:01] arranf commented on #1070
I suspect this is an issue with shared hosting servers and/or Plesk. I've reports of this occurring there but when I migrated this installation to Azure the problem was solved.

[2017-08-30 22:02] arranf commented on #1071
@kcirgjd Is this still an issue for you?

[2017-08-30 22:09] arranf commented on #1259
This is no longer the case. I can do the following on 6.8 successfully:

* Create a text Person Attribute with a default value of `Arran`
* Go to the person's profile, click on the AttributeValue block, and press save without changing the attribute's value
* The AttributeValue is saved in the database

I'm going to go ahead and close this now.

[2017-08-30 22:09] #1259 closed

[2017-08-30 22:12] arranf commented on #1283
Updated the family field guide to specify that the attendance is weekend attendance as this seems like the desired behaviour.

[2017-08-30 22:12] #1283 closed

[2017-08-31 11:12] edmistj commented on #2418
Thanks Arran for getting this started. I'd be inclined to start with the basic items. I'm not sure we'd want to take the step of having the store web UI pull from this file yet, though I can see how it would simplify the process.

Are we landing on JSON or Markdown? Personally, I'm fine with either, though JSON seems more structured.

[2017-08-31 11:25] edmistj commented on #2419
This is super helpful. I'll try to play with this soon. I was thinking it would be nice if we had a standard set of badges for Github for things like 'In Rock Shop' or 'Stable' (perhaps others).

[2017-08-31 15:28] arranf commented on #2418
@edmistj I agree! Just wanted to put the idea out there. I prefer JSON.

[2017-08-31 15:31] arranf commented on #1106
@ElimAdmin Is this still an issue?

[2017-08-31 16:01] cabal95 commented on #2418
I would prefer JSON too. That would still allow us to use Markdown either inline in the JSON or as a file reference later if we want for some of the elements that could use a little prettification (like description).

The `documentation_url` I think would be useful too. Many plugins would probably just point to the repo README file, but larger ones (text 2 workflow, room management, etc.) would pr

[2017-08-31 16:04] arranf commented on #1336
Fixed

[2017-08-31 16:04] #1336 closed

[2017-08-31 16:09] cabal95 commented on #2418
Seeing Jon's comment on another discussion just now, another good field might be `status` to show if a repo is in `development` (i.e. pre-pre-alpha), `beta`, `stable`, etc.  Exact status names to be determined later.

This also brings to mind something I'll throw out just so we keep it in mind since I don't have any thoughts on how (or if) we deal with it. Possibility of having the scraper check d

[2017-08-31 16:13] arranf commented on #2418
@cabal95 I like the status idea. I wonder if we can tie that into the versioning or if it should be a separate field?
I think there should definitely be a field for whether or not it's in the Rock Store.

[2017-08-31 16:44] arranf commented on #1363
@BelAirIT Are you still running into this issue?
@Kronos11 Are you still running into your issue with deceased individuals?

[2017-08-31 20:39] garrettjohnson opened #2421 "Financial Pledges Allow Negative Values"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-08-31 22:19] randyjreed commented on #2326
Appears this is resolved in 6.9. Thank you

[2017-08-31 22:19] #2326 closed

[2017-08-31 22:38] dcs619 opened #2422 "SQL Requirement for GroupType doesn't resolve Group Lava merge field"
### Description

Using the develop branch + a custom SQL requirement that uses Lava, a GroupType requirement doesn't resolve Group merge fields.  I'm still working on a fix but narrowed it down to [GroupRequirement.GetMergeObjects( this.Group )](https://github.com/SparkDevNetwork/Rock/blob/develop/Rock/Model/GroupRequirement.cs#L259).

If the Requirement is added to a Group instead of a GroupType,

[2017-08-31 22:52] NuclearTacos commented on #2422
If the `Group` was included in the Lava, you should replace `{{ Group.[Id] }}` with `{{ Group.Id }}`.  Not sure how to help you outside of that, but I'd like to think I know my Lava :wink:

[2017-09-01 00:21] cabal95 commented on #2419
I just did some testing and switched one of my projects to use symbolic links instead of hard/junction links and everything seems to work fine.  IIS Express traverses them just fine. Visual Studio sees them just fine. IIS on Server 2008R2 sees them just fine. So symbolic links should work fine and take care of the potential issues listed above.

However (of course). Windows does not let you create

[2017-09-01 01:05] edmistj commented on #2418
woildnt having a master (default) and develop branch resolve this issue? We'd always pull the JSON from master while work could be done in develop. Tags would be used for completed versions.

[2017-09-01 02:11] arranf commented on #2418
I think that only really works for projects once they hit 1.0, Github defaults to a master branch and I know I'm guilty of having an unstable single master branch until the first release and I think we want to broadcast project's that aren't quite ready for primetime.

I do think that we should make it so it's easy for folks to keep their project up to date and I'm not sure I'd remember to update

[2017-09-01 02:54] dcs619 commented on #2422
I double-checked per Chris's suggestion, and the Lava needed non-bracketed notation.

Unfortunately, it only works when the SQL Requirement is added to a Group. When the SQL Requirement is added to a GroupType, I get the same error.

[2017-09-01 23:18] edmistj commented on #2419
I'm fine with either symbolic links or junctions. Are we good with this? Also can we commit to having a master branch and develop as our recommended standard?

[2017-09-02 00:26] nateh777 opened #2425 "Group Finder Issue with "\" in Group name"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-02 00:29] cabal95 commented on #2419
`commit to`... _snicker_...

I'm good with the master & develop branch standard. It will take some getting used to, so expect to see some master branches that look strangely like develop branches for a while. :)

[2017-09-02 20:40] edmistj commented on #2418
I'd say that until you have a stable v1.0 your master would be your develop (or you could change the default to be develop). This is the site we used to create the standard for the core repo. http://nvie.com/posts/a-successful-git-branching-model/

[2017-09-02 22:13] cabal95 commented on #2418
I think if we have a zip file that can be expanded into an empty repo it will take care of most things. Zip file contains the basic recommended structure and any powershell scripts, .gitignore, .plugin.json, etc. files. So steps to starting a new plug-in would be:

1. Create repo on github.
2. Clone to local computer.
3. Download and unzip `plugin-template.zip` into the empty repo.
4. Edit the `.p

[2017-09-02 22:36] arranf commented on #2418
I think we should create a small program that can auto fetch from Spark and edit the files as necessary.

[2017-09-04 20:40] cabal95 opened #2427 "Cannot save default attribute values for tiered field types."
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-04 20:42] cabal95 commented on #2418
I like the idea of a helper tool. Though I think that should wait for a "version 2" state of everything so we can iron out the actual steps that need to be performed. Everything always sounds great on paper until the first time you try to do it. :)

[2017-09-05 16:06] edmistj commented on #2418
Looks like consensus is made on a v1.0 approach. @arranf can you post a final proposal with a sample JSON file?

[2017-09-05 17:15] NuclearTacos opened #2428 "[EN] Time Zone Support :upside_down_face:"
### The Problem

My church, in Illinois, recently merged with a church in Florida.  Aside from being a weird look from the outside, it has caused me to start rethinking some things are handled in Rock.

It seems a time we wished would never come is upon us, and I believe we need to look for a solution to time zones :shudder:

### Specific Problems (off the top of my head)

- Small Group Finder
- S

[2017-09-05 17:17] #2422 closed

[2017-09-05 17:59] briankalwat opened #2429 "API Requests w/loadAttributes Flag Do Not Return Attributes/Values When $expand Parameter is Used"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-05 20:39] garrettjohnson opened #2430 "Connections always show "last activity note" column"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-05 23:21] garrettjohnson opened #2432 "Check-in Configuration Always Shows "Phone Number Compare""
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-06 12:08] arranf opened #2433 "[EN] Adjust Financial Gateway Interface To Know If Transaction is Event or Donation"
## Description
Rock has a natural divide between payments for events and gifts that are donations and some Financial Gateways would like to process the payments differently depending on which type the payment is.

## Strategy
A relatively non-invasive and non-breaking change would be to add a `PaymentType` enum as a property to the PaymentInfo object to give some context to the gateway.

I'll take

[2017-09-06 14:36] edmistj commented on #2433
There is a Defined Type called 'Transaction Type' that is used for that purpose. The two default values (Contribution and Events) have system guids. You might have everything you need with this (it's tied to the Financial Transaction model).

I would note that some churches have more than 2 types. The Transaction Entry block has been extended in several ways to allow for it to act as a 'check-out'

[2017-09-06 15:32] arranf commented on #2433
@edmistj The problem with `Transaction Type`  is that it's only added to the transaction after the payment is processed by the gateway. Perhaps moving be that information to the `PaymentInfo` class would be a better route?

[2017-09-06 17:05] cabal95 opened #2434 "[EN/Discuss] Generic Entity Attribute/Field Type"
Discussion welcome and requested. Curious what others think about this idea and also if they feel it should be fully a core feature rather than part in core and part in a plug-in. This would be a "high level" attribute, meaning it takes tinkering and effort to make it work. This isn't just a "select and go" item.

### Overview

This is a theoretical feature discussion. It has been marinating in my

[2017-09-06 17:13] kcirgjd commented on #1071
I am not sure. Our leadership decided to stick with using Church Metrics from Life.church so I have stopped working to get them setup in Rock.

[2017-09-06 17:51] cabal95 opened #2435 "[EN/Discuss] Multiple Value Attribute"
### Description

Discussion about possibility of using the same concepts as the Matrix Attribute for creating multi-values attributes.

### User Interface

The new Attribute Matrix essentially gives us a way to store multi-valued arrays as attribute values. I'm thinking a new field called `Attribute Array` that behaves almost identical to the Attribute Matrix from a UI perspective with the excepti

[2017-09-06 18:58] arranf commented on #2418
So this is what I've got based off the discussion above. There are a couple of points that I think we need to clarify, either because they haven't been discussed or the ideas don't seem complete enough, I've put these as questions at the bottom.

# Proposal

## Repositories
Repos will use the Github tag `rock-rms` to identify that they're related to Rock so we can scrape the information out.
Repos

[2017-09-06 22:11] mcnoodles commented on #2433
This would also be helpful for us. our finance people currently rely on the simple donation dashboard as we're transitioning."

[2017-09-06 23:39] edmistj commented on #2435
What would be the benefit of this over a single column matrix attribute?

[2017-09-06 23:57] cabal95 commented on #2435
Primarily option 2 would provide the most benefit. However one other benefit is that this wouldn't need anything defined ahead of time in General Settings. I think we could do it on the fly when they define an Attribute since they only need to select an Entity Type as the configuration option for the Attribute.

[2017-09-07 04:44] edmistj commented on #2414
Part of the rearchitecting of core framework is to simplify the API for sending emails (especially attachments). Adding the ability for attachments on System Emails and as a Workflow Action is planned through the UI. If that's the case is the ability to do this in Lava needed?

The ability of doing it in Lava concerns me for two reasons.

1. It feels a bit inelegant to have Lava filters that only

[2017-09-07 06:48] arranf commented on #2414
@edmistj I agree with you on this. Lava, to me, should feel like it works the same universally. The more caveats that are added the harder it becomes to debug and learn. A UI is much more user friendly.

[2017-09-07 15:28] tommyprater commented on #2186
***Update, starting with version 6.6 the {slug} for url does not work at all. When used the content channel will not display any results. If {item} is used it will.

[2017-09-07 16:30] cabal95 commented on #2414
The Lava filter's intention was specifically when you want to _conditionally attach something that already exists in the database_, so the limitations you mention were more/less intentional. Being able to add attachments via Workflow does take care of many of these use cases. The one use case it does not cover would be System E-mails where we don't have the logic of Workflows to handle it.

For ex

[2017-09-07 17:38] cabal95 opened #2437 "Group Placement function of Event Registration includes Inactive states"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-07 19:45] NuclearTacos opened #2438 "[EN] Allow Group Type to Make Campus Required"
### Problem

People can pretty easily forget to set a Campus for a new Small Group that is created.

### Recommendation

I think it would be really helpful if you could configure a Group Type to require Groups of its type to be saved with a Campus (this is good for when you use Campus filters on the Small Group Search block and you don't want to let a small error keep a group from never being foun

[2017-09-07 19:46] dcs619 commented on #2438
@NuclearTacos This is already a feature 🐱

![screen shot 2017-09-07 at 3 45 58 pm](https://user-images.githubusercontent.com/1210933/30182114-aecac916-93e3-11e7-988d-9f34c90f21f7.png)

[2017-09-07 19:46] #2438 closed

[2017-09-07 23:42] cabal95 opened #2439 "[EN] Link existing Content Channel Items to Event Occurrences"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-08 05:15] edmistj commented on #2439
Go ahead and submit a PR. Can you make the tooltip for the button be "Link Existing Item". Might be nice if it was to the right of the Add button.

Also could you use the new 'Chosen Picker' as it has a nice search UI built in.

Having the Name (Start Date - End Date) is fine, but difference channels may not support End Dates or Dates at all. As long as these are gracefully supported (i.e. not sho

[2017-09-08 05:20] edmistj commented on #2437
Agree #1 is a bug.

Regarding #2 I believe we should show them if they are not Active in the group. Since the placement process only allows you to add an Active group member those that are not active should be valid options. This would be different if we allowed users to add group members as Pending or Inactive, but that's not currently an option.

[2017-09-08 10:24] arranf opened #2441 "Merge Documents Fail To Download When Unsecured File Type Is Set to File System"
### Prerequisites
* [x ] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [pe

[2017-09-08 10:36] arranf opened #2442 "Merge Documents Fail to Merge if Template Stored on File System"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-08 11:47] #2359 closed

[2017-09-08 15:40] edmistj commented on #2376
A migration has been added for v6.10 for this.

[2017-09-08 15:40] #2376 closed

[2017-09-08 15:44] cabal95 commented on #2439
1) Tooltip, yes. It's actually set to "Link Existing" now but thats easy to change.

2) I don't think I have control over the position of it. I'm using the `AddCustomActionControl()` method of the Grid and it just puts it there, not sure if there is another way to add a custom button?

3) I'll take a look at Chosen Picker, I'm assuming by "new" you mean that is a v7 thing.

4) Unless it's a new op

[2017-09-08 15:46] cabal95 commented on #2437
Okay so just to clarify on #2 and make sure I'm on the same page...

When doing Placement, the only time registrants should be hidden is if they are an `Active` member of an `Active` group that is in the selected tree - correct?

[2017-09-08 15:48] edmistj commented on #2437
That sounds great.

[2017-09-08 15:51] cabal95 commented on #2439
Ah, yes I see in v7 that it now allows a "No Dates" option. I will account for that in the PR.

[2017-09-08 15:52] edmistj commented on #2439
The order of the buttons isn't critical.

[2017-09-08 17:08] #2442 closed

[2017-09-08 17:23] cabal95 commented on #2418
My (out of order) thoughts.

2. If this is for plug-ins, I would say `rock-plugin.json`.  I think the term "plugin" can be used broadly enough to catch things that aren't technically plugins, but close enough (repo of workflow exports for example).

3. I think that can be added later.  When we need to go to version 2 we just assume the lack of that field means version == 1.

1. The `master`/`devel

[2017-09-08 17:35] arranf commented on #2418
@cabal95 I agree we should start building ASAP and I agree with you on 2 and 3. I'm not super sure how 4. Would work. If I have Plugins A, B, and C alongside my Rock repo -- we can safely assume whatever is in `master` would be stable. However, what if only Plugin C is in development on `develop`, how could can we tell that plugins A and B are stable? I think self reporting (either from versioning

[2017-09-08 17:48] cabal95 commented on #2418
To be clear, I'm not against an explicit `status` field. Just know that Jon was thinking we didn't _need_ it. But just to clarify what I meant. Assume we have this repo structure:

- RockWeb
- PluginA
  - rockplugin.json
- PluginB
  - rockplugin.json

For the moment let's also assume that both those plugins are stable so that structure is in the `master` branch. Next I want to add a new plugin cal

[2017-09-08 17:57] cabal95 commented on #2439
@edmistj It looks like the database allows a single Content Channel Item to be linked to more than one Event Occurrence, but I don't think there is a UI to actually do that.  Should the "link existing" picker filter out Content Channel Items that are linked to ANY Event Occurrence or just linked to THIS event occurrence?

i.e. should this new functionality allow an Content Channel Item to become l

[2017-09-08 21:15] edmistj commented on #2418
@cabal95 This seems to be a problem when more than one plugin resides in a single repo. In these cases it's made even harder as a Plugin A and Plugin B will never be as clean in terms of directory structure. In these monolithic repos the files for a plugin can be in several places. For instance many of our plugins are just blocks so the only files are under RockWeb > Plugins > Org > Plugin.

For M

[2017-09-08 21:31] edmistj commented on #2439
@cabal95 I'd say filter out just those already on the Event Occurrence which would allow for a single Content Channel Item to be linked to multiple Event Occurrences.

[2017-09-08 22:27] cabal95 opened #2447 "Group Type editor allows creation of circular references for Inherited Group Types"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-08 22:32] arranf commented on #2418
## What Kind of Repos Do We Need to Consider?

I've done a quick survey of repositories of churches I know that are using Rock who might be part of this conversation to see what we're dealing with. Here are a few observations.

Firstly, I don't think checking all branches is feasible. All repos I checked had 10+ branches some going as high as 20+.

There is no consensus on branch naming but there

[2017-09-08 22:44] arranf commented on #2418
Whilst we've cracked discovery in single-project repositories using Github tags I think we need to come up with a solid solution for identifying all the individual projects in a single repository, for example [NewPointe's](https://github.com/NewPointe/Rockit).

I think we can make a couple of assumptions for tracking down projects for a given Rock or Rockit repo. Any folder in the root that starts

[2017-09-08 22:53] cabal95 commented on #2418
@edmistj: Arran and I did some discussion in Slack about this. I think we have a mostly workable solution for one-plugin-per-repo as well as "new" monolithic-repo. The issue is existing monolithic repos and how to bring them into the fold without too much headache for their owners.

@arranf It looks like unauthenticated we can do 60 requests per hour. We might be able to do more if we authenticate

[2017-09-08 23:18] garrettjohnson commented on #2104
It would probably be much easier and safer to continue to extend what's possible in workflows. Lava is all about loading and displaying dynamic content, with it's ability to run anywhere in Rock there's too much to go wrong. It would take lava from a ultra-powerful templating language to a sort of pseudo-code that would be very difficult to implement and exclusive to Rock.

@NuclearTacos Are there

[2017-09-08 23:19] cabal95 commented on #2104
Additionally, some (all?) of this can now be achieved via the Lava short codes since the short code can run the SQL required to perform the update.

[2017-09-08 23:26] cabal95 commented on #2418
I think we all agree that monolithic repos are going to take some extra TLC to automate gathering information from. We've had a few suggestions for how to deal with this.

1. Add a new file to the repo that identifies all the branches and paths to be scanned.
2. Multiple `rockplugin.json` files that each identify one plugin in the repo.
3. Put all plugins in a single `rockplugins.json` file as a J

[2017-09-08 23:30] garrettjohnson commented on #2211
Chrome continues to change it's autocomplete detection scheme, and rates have dramatically decreased since the issue was filed. Since the field is a `textarea` chrome should be smart enough to not autofill.

[2017-09-08 23:30] #2211 closed

[2017-09-09 00:03] dcs619 commented on #2418
FWIW, NewSpring has an old monolithic repo where plugins used to be, but I split each plugin to their own repo (including historical commits). See https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/.

So if we document the process to split monolithic repos, we could implement a much simpler solution.

[2017-09-09 01:00] garrettjohnson commented on #2246
Looks like 7.0 Includes a improved Data View field that allows you to select the Entity Type which filters the list of Data Views. It's live at http://prealpha.rockrms.com

[2017-09-09 01:00] #2246 closed

[2017-09-09 01:07] garrettjohnson commented on #1924
Fixed in v7.0... Possibly earlier!

[2017-09-09 01:07] #1924 closed

[2017-09-09 01:31] garrettjohnson commented on #1967
@gonemob Is this safe to close? I noticed you reported running 6.2 on another issue.

[2017-09-09 02:03] garrettjohnson commented on #2199
Fixed via 932e9e0

[2017-09-09 02:03] #2199 closed

[2017-09-09 02:39] trydyingtolive commented on #2418
@arranf asked me to chime in so @cbump  and I discussed this a bit. First off our repo is currently not public, we are working on that. Our repository is setup to meet the needs of production and deployment systems. We have a monolithic repository which lets us use our continuous integration tools without constantly re-configuring them. In our system we don't think about version numbers outside of

[2017-09-09 02:45] garrettjohnson commented on #2411
Querystrings are great in workflow requests since it's a `GET` request often triggered by links. It just feels weird/[off-spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.6) to use querystrings to update a record in a `PUT` request.

[2017-09-09 03:06] cabal95 opened #2448 "ShareWorkflow discussion and collaboration"
## Topic

I have a Block built that is designed for exporting and importing Workflows. It's actually meant to be used with _any_ entity type, but Workflows was the initial itch that needed to be scratched.

## Status

A number of people have used this block successfully. A few have reported minor issues. A few have reported errors that I think have all been fixed. But it still needs lots of testin

[2017-09-09 05:18] garrettjohnson commented on #1634
Fixed in v6.1 via #1796

[2017-09-09 05:18] #1634 closed

[2017-09-09 06:12] arranf commented on #1646
@dcs619 @mikejed Did this ever get resolved? Are you experiencing issues still?

[2017-09-09 06:13] arranf commented on #1656
@mikejed Are you still experiencing this?

[2017-09-09 06:16] arranf commented on #1724
@Tschrock Is this still an issue for you guys?

[2017-09-09 06:17] garrettjohnson commented on #1735
Related to #2172, will need the migration mentioned on PR #2449 to close

[2017-09-09 06:24] arranf commented on #1761
**Steps to Reproduce**:
1. Add a `Group and Role` attribute to a workflow
2. Save the workflow
3. Edit the workflow
4. Attempt to edit the attribute

[2017-09-09 06:26] arranf commented on #1762
@BEGamache Is this fixed? Did you ever encounter this issue again?

[2017-09-09 06:27] arranf commented on #1765
@BEGamache Is this still an issue? Can you reproduce on the demo site for us?

[2017-09-09 06:32] arranf commented on #1803
@NuclearTacos Is this still an issue?

[2017-09-09 06:48] arranf commented on #2418
@cbump @trydyingtolive I like the reduced version of the project format. I'm keen to tie READMEs to the format. Would specifying the README path be a sane addition to the format?

[2017-09-09 06:51] arranf commented on #2329
@taylorbrooks Is this a consistency issue?

[2017-09-09 07:00] arranf commented on #1463
@KelleyLangkamp Is this still an issue for you?

[2017-09-09 07:03] arranf commented on #2387
Hey @chrisgo, this is worth looking at. This is probably better suited as a plugin rather than a core integration though.

[2017-09-09 07:03] #2387 closed

[2017-09-09 07:05] #1528 closed

[2017-09-09 07:20] arranf commented on #1560
@Tschrock Is this still an issue?

[2017-09-09 07:24] arranf commented on #1604
@BEGamache I'm going to go ahead and close this as I think this was a configuration issue rather than a bug. Let me know if I'm wrong though.

[2017-09-09 07:24] #1604 closed

[2017-09-09 07:29] arranf commented on #1613
@BEGamache Is this still an issue?

[2017-09-09 07:40] #1631 closed

[2017-09-09 07:43] arranf commented on #1633
I'm going to go ahead and close this as this doesn't seem relevant at this point in time.

[2017-09-09 07:43] #1633 closed

[2017-09-09 07:45] arranf commented on #1639
@jreciomoreno Is this still an issue?

[2017-09-09 07:53] arranf commented on #1761
Duplicate of #1687

[2017-09-09 07:56] arranf commented on #1707
I agree with @mikejed this is naming issue as well as an enhancement request. I'll tackle the naming side of things.

[2017-09-09 08:04] arranf commented on #1891
@garrettjohnson How are you getting around this now? Is this still an issue?

[2017-09-09 08:06] arranf commented on #1832
@tom-powers Can you confirm this was fixed?

[2017-09-09 08:10] arranf commented on #1898
Closing as this does appear to be a duplicate of #1705. We'll keep all duplicate workflow attributes there and we can reopen this if this is not related.

[2017-09-09 08:10] #1898 closed

[2017-09-09 08:48] garrettjohnson commented on #1883
This is still an issue in v6.9 we've got around 25 records that will not disappear from the Person Duplicate list despite not having a duplicate.

[2017-09-09 08:56] arranf commented on #1273
This has been a pain point for me over the last few years. I'd like to champion finding a solution to this if we can. This problem will only get _worse_ over time as we add more copies of binary files to the repositories history.

Git LFS seems mature enough at this point that it seems like a sensible next step. It's supported by the clients Sourcetree, SmartGit, and GitKraken, and it appears it's

[2017-09-09 08:59] arranf commented on #1931
Closing due to inactivity. @KelleyLangkamp If this is still an issue we can reopen this.

[2017-09-09 08:59] #1931 closed

[2017-09-09 09:00] arranf commented on #1967
Marking this `won't-fix` as 6 is available as a new Rockit.

[2017-09-09 09:00] #1967 closed

[2017-09-09 09:03] arranf commented on #1990
@MikeDPeterson I saw some changes in develop around pasting in Summernote. Do you suspect this is fixed by that?

[2017-09-09 09:04] arranf commented on #2032
@JimMichael Great! Marking this closed.

[2017-09-09 09:04] #2032 closed

[2017-09-09 09:21] arranf commented on #2126
@NuclearTacos Could you test this on the [prealpha site](http://prealpha.rockrms.com/)?

[2017-09-09 09:23] arranf commented on #2151
@jdavidnewell Sounds like a configuration issue for you rather than an issue with the app. I'm going to close this for now but feel free to comment here again with more details if you have reasons to suspect otherwise.

[2017-09-09 09:23] #2151 closed

[2017-09-09 09:27] arranf commented on #2306
@taylorbrooks I'm going to mark this as won't fix as it's intended behaviour. I suspect the PR would be welcome though.

[2017-09-09 09:27] #2306 closed

[2017-09-09 09:36] arranf commented on #1300
@edmistj I'm closing this as this is ancient and doesn't seem to have caused problems in my memory. If I'm wrong, feel free to open this back up.

[2017-09-09 09:36] #1300 closed

[2017-09-09 09:42] arranf commented on #2390
Duplicate of #2029

[2017-09-09 11:18] arranf commented on #1908
@winmastr Could you please edit your issue to include the steps to reproduce this? It helps others solve your problem.

[2017-09-09 11:28] arranf commented on #2018
@edmistj There are a couple of these issues that I've found that require a migration but have the available label. I think there needs to be something in the contributors guide about how to create a migration with a pull request.

[2017-09-09 11:37] arranf commented on #2138
@garrettjohnson Can you test to see if this is fixed on the [prealpha site](http://prealpha.rockrms.com/)?

[2017-09-09 11:42] arranf commented on #2187
Fixed on the prealpha site, possibly hotfixed before this.

[2017-09-09 11:48] dcs619 commented on #1646
I don't have access to the logs, but I think the ViewState compression Daniel introduced may have alleviated it. There was definitely an issue with the size of ViewState in earlier Rock versions that would barf for any unstable/slow network connections.

[2017-09-09 12:15] trydyingtolive commented on #2418
I don't think the README(s) need to be referenced. Anyone who is trying to make a good public repo will add them in stratigic places anyway. Single projects will have one in the root. Monoliths will have one in root and additionally should have one in each project. Ive seen some projects that had one at each subfolder.  Maybe if you wanted to use the text of the README for search functionality it

[2017-09-09 12:28] arranf commented on #2418
I take your point. Let's leave the README's out.

The fear with some of those flags is that when you branch a `stable` branch might become `unstable` and not get updated. After a night's rest I'm not sure how much that will matter though given this is going to have an audience of developers - ultimately, user discovery will occur via the Rock Shop.

[2017-09-09 13:22] taylorbrooks commented on #2329
Yep, consistency is the issue.

[2017-09-09 15:52] cabal95 commented on #1761
I'll add that this isn't limited to Workflows. I experienced this the other day as a Global Attribute when testing something unrelated. I figured it was because I was making lots of changes to the attribute type but looks like this is just a bug with the `Group and Role` attribute in general.

[2017-09-09 17:03] garrettjohnson opened #2450 "Names with Accented characters print as "?" at Check-in"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-09 17:51] edmistj commented on #2018
@arranf Right, I'll take that as an action item to write something up. I'll also communicate the solution in the Rock Stars Channel to help communicate the solution.

[2017-09-09 18:02] edmistj commented on #1273
@arranf If you'd like to start with Identifying the offending files that would be fine. If I compare this task to all the other tasks we as a community could be working on it doesn't seem worth the time/energy right now.

[2017-09-09 18:11] edmistj commented on #2448
I'm interested in helping. I think this would be incredible to have in core when it's fully tested. I've head of some workflows where it didn't work. I'll track down those conversations and test it with the latest code.

[2017-09-09 18:13] cabal95 commented on #2448
Forgot to mention, for the moment any bugs or whatever can be posted here https://github.com/ShepherdDev/rock-misc/issues so we don't pollute the main Rock issue tracker too much.

[2017-09-09 18:31] #2439 closed

[2017-09-09 20:17] edmistj commented on #2297
@dcs619 Adding this field is good. If you could make a PR with the edited blocks and a text file containing the contents of the Migration we'll create a new core migration from it. The block changes should include:

Device List
+ Filter to show/hide inactive devices. The default should be to hide inactive devices

Device Details
+ Ability to activate/inactivate devices. The inactive checkbox shoul

[2017-09-09 20:59] edmistj commented on #2242
@dcs619 To implement this we'd probably want to see the following:

1. A new section (at the bottom) with the title of Financial (fa fa-money)
2. New item labeled 'Mark Individuals as Giving Individually'
3. A new Security Verb on the block of 'Edit Financials' (migration to set 'RSR Financial Administration' and 'RSR Financial Worker' to have access.

[2017-09-09 21:06] edmistj commented on #2435
Since this is so close to matrix attributes, from a core perspective I think it would be best to stay with what's already there. The one thing where matrix attributes fall apart, and would be a challenge here to, is reportability. Getting the data filters to work with this would be very challenging and a possible performance issue.

[2017-09-09 21:09] edmistj commented on #2434
I like you're idea of making this a plugin. Also don't forget about the Chosen plugin in v7 that allows you to search on long lists. This might make the SQL option workable.
![chosen](https://user-images.githubusercontent.com/548178/30243919-68b1fd38-9568-11e7-818a-6e6a1ecb2b89.gif)

[2017-09-09 22:17] edmistj opened #2451 "Enhancement To Notes"
Recent conversations about allowing replies to notes spurred us to share some of the other features we've been wanting to add to notes since their creation.

# Solution Goals
1. Allow replies to notes
2. Allow for the approving of notes
3. Allow for the sending of notifications when notes are added

Below is a rough ER highlighting the new fields being considered.

![09-09-2017_15-03-17-ssms](http

[2017-09-10 15:42] NuclearTacos commented on #2126
@arranf
AFAIK, this means it's confirmed on prealpha.  BTW, prealpha.rockrms.com makes me super excited! :tada:
![image](https://user-images.githubusercontent.com/19762670/30250477-aebb14ca-9614-11e7-904e-6f87bdae1e0b.png)

[2017-09-10 15:52] NuclearTacos commented on #1803
@arranf I disabled Phone Numbers on the giving form so I don't know if it's still an issue.  I'm not comfortable enough with any of my financial gateways to potentially generate bogus transactions.  If we can get gateway signed in, I'll reproduce the issue wherever you want :grin:

[2017-09-10 16:38] NuclearTacos commented on #2104
With lava short codes and `workflowactivate`  to perform updates to a Person, you're set.

AFAIK, there's no Workflow Actions to change Group Attributes and Connection Attributes, plus, with the new Entity Attribute Values block on prealpha, you'll have much more access to editing those entities.

I guess that a Workflow Action that can take a Person, Entity Type, Entity Id, Key, and value to set

[2017-09-10 16:49] nairdo commented on #2126
As per the documentation, without the 'Object' qualifier, the Attribute filter will only "...return a string representation of the attribute."

[2017-09-10 16:56] NuclearTacos opened #2452 "Can't Find Blocks Linked to Context Parameters"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-10 16:59] nairdo commented on #2451
Regarding Notifications, does the creator of the reply and the owner of the original note (being replied to) have to be in the security verb/role to receive the notification (once approved, if approval is required)?

[2017-09-10 17:01] NuclearTacos commented on #2126
@nairdo

That block of text and the example doesn't specify that the Properties of the Attribute are to be returned as text instead of their object forms.

[2017-09-10 17:04] NuclearTacos commented on #2126
A revision to the documentation is likely fine.  If you want to make it where I can do stuff like `{{ Workflow | Attribute:'SCR','ConnectionRequestActivites','Object' }}` to get the Object version of the Properties of the Attribute, I'd be glad to write up concise documentation for https://www.rockrms.com/page/524 :+1:

[2017-09-10 21:29] garrettjohnson opened #2454 "[EN] Change default "Download Payments" schedule"
### Description

The default schedule for the "Download Payments" scheduled job is `0 0 5 ? * MON-FRI *` or 5am Monday through Friday. Since transactions can be scheduled on the weekend, and givers are aware of transactions immediately through apps, it would be helpful to provide givers with an updated record in Rock as well as a transaction receipt before Monday.

Proposed Cron: `0 0 5 1/1 * ? *`

[2017-09-10 22:21] garrettjohnson opened #2455 "UI Proposal for Workflows"
### Description
One of the most difficult aspects of configuring workflows is creating an action and finding a field required by the action is empty. When a select control is effectively disabled, it would be helpful if Rock disabled the form input and added help text that included the name of the attribute needed to enable the control.

Proposed disabled text: `Add a "Attribute Name" Attribute` (

[2017-09-11 03:18] edmistj commented on #2451
I would think that notification of approvals would be outside of the notification of new replies or new notes. That said I hadn't thought of notifications to approved notes. In some cases like approving prayer comments I would think no notification would be required, but in other use cases it may. Perhaps another configuration property on the note type is needed to configure the logic.

[2017-09-11 10:32] arranf commented on #2455
@garrettjohnson I love this. The workflows panels could be made far more efficient and this is a great step in that direction!

[2017-09-11 14:20] edmistj commented on #2455
Sounds good. Should not be too hard to update the WorkflowAttribute class to do this.

[2017-09-11 14:26] arranf opened #2456 "Unchecked 'Show Title On Page' Leaves Behind An Empty h1 Tag"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-11 14:34] edmistj commented on #2456
I'm not sure this is a bug. The Page Title does not directly add the <h1>. On the Stark theme the page title is surrounded by an <h1> which the page doesn't have control over rendering.

![11-09-2017_07-30-00-devenv](https://user-images.githubusercontent.com/548178/30279885-3dfe3e88-96c3-11e7-91c7-04388b912386.png)

Not sure how to get around this without hard coding a CSS class or markup into the

[2017-09-11 15:00] cabal95 commented on #2104
@NuclearTacos The Attribute Values themselves aren't cached, just the Attributes. So as long as you are not editing the Attribute itself the cache won't be an issue.

And I think a generic "Set Entity Attribute Value" workflow action would be good.  I don't think it should check security as that would be up to the Workflow logic. So it just needs a Guid/Id, Entity Type, Key and Value.

[2017-09-11 15:04] cabal95 commented on #2452
I've run into this too. The problem for me is also the fact that there is (that I can see) no way to know which block(s) is requiring that context. If possible, I think the Help text for each context should include which block(s) are causing that context to show up. Like Chris said, usually this happens when I go to edit an existing page with a number of blocks. The page is already working and I d

[2017-09-11 15:06] cabal95 commented on #2454
We had to make this change on our production server. The batch totals were not matching the deposits until we did so.

[2017-09-11 15:15] cabal95 commented on #2456
There is a `:blank` psuedo-class selector in discussion for CSS4, but it hasn't finalized yet.  The `:empty` selector only matches completely empty (no whitespace) elements. `:blank` will match empty or whitespace-only elements. So we could solve this with CSS down the road.

The `:empty` selector could be used now, but we would have to modify the Html and C# a bit to remove the ` ` from the HTML

[2017-09-11 15:26] NuclearTacos commented on #2104
@cabal95
:thinking: I have been tiptoeing around editing Attribute Values in SQL for months :laughing: But it's probably for the best.

I'll give a big :+1: to "Set Entity Attribute Value"

I'm unfamiliar with a good way to check security on an Attribute.  I know you could check for Group Membership, but I feel like it would be an unnecessary pain to keep your Workflow security check in line with

[2017-09-11 15:31] cabal95 commented on #2104
I know there is a `HasRightsTo` (I think thats what it's called) Lava Filter. Now that you mention it I'm not 100% sure if that can be used to check permissions to Attributes. If not I think we should expand it to support that (or if need be a new `HasRightsToAttribute` filter).

I wouldn't be against making the `Person` attribute optional in the `Set Entity Attribute Value` - but I think it would

[2017-09-11 15:38] NuclearTacos commented on #2451
At the least, giving us Workflow Trigger hooks (Actions are kind of optional as long as Lava/SQL lets us do what we need) would be enough to DIY approval notifications and such.

I don't have any skin in the game yet for notes since we've buried them due to security issues on our migrated notes.

[2017-09-11 15:59] cabal95 commented on #2451
### Notifications

I would think _only_ people who are `Following` the conversation would be notified. However, this brings up some questions that I dealt with in my project. I ended up creating a new `Watching` entity that is _nearly_ identical to `Following`. The classic example is I post a comment/note that sparks a massive discussion that I don't care about. I want to be able to unsubscribe fr

[2017-09-11 16:06] #2435 closed

[2017-09-11 16:14] MikeDPeterson commented on #1990
@arranf Yep, it probably is fixed, but it was hard to reproduce so I can't say 100%.  The PasteFromWord was re-written quite a bit, so if it is still happening, I would be surprised.

[2017-09-11 16:15] arranf commented on #1990
@MikeDPeterson I'll close this up, we can reopen if need be or start a new issue.

[2017-09-11 16:15] #1990 closed

[2017-09-11 16:42] Tschrock commented on #2104
I've already messed around with a few different versions of a "Set Entity Property" action for some of our projects. It wouldn't be to hard to convert that into an action that works with attributes instead. I'd be happy to tidy some of it up and make a PR if we're heading that way. The current version of what I have for properties looks like this:
![Set Entity Property action](https://user-images.

[2017-09-11 16:45] edmistj commented on #2452
I'm not sure I get this. This behavior means that there are blocks on the page that need this configuration to work. Seems like you should be forced to provide it or go remove the blocks from the page.  Allowing a page to edited when it's known to be mis-configured seems like an issue.

[2017-09-11 16:45] cabal95 commented on #2104
@Tschrock I love it. Would it make sense to make the `Entity Guid` to `Entity Guid or Id`?  Sometimes I have a Guid, and sometimes I have an Id.

Can you describe a bit what that `Empty Value Handling` is for?

[2017-09-11 16:56] dcs619 commented on #1883
@garrettjohnson Have you checked the duplicates table to see which records are marked as duplicates?  I've noticed some weirdness with Rock's duplicate finder stored procedure and wonder if they're related.

[2017-09-11 17:01] NuclearTacos commented on #2452
I definitely agree that allowing to save a page in a way that is going to cause issues is no bueno.  The not-so-fun thing was that page I arrived on was misconfigured from the start.  So I was stuck with the issue of poking everywhere to "Fix" something that wasn't causing an issue on the page.

I agree with @cabal95  that adding the Block's name (and region?) to the tooltip if it needs that conte

[2017-09-11 17:08] cabal95 commented on #2452
@NuclearTacos The problem is some blocks have a block configuration option for what entity to use for Context (Like Html Content). Others have it hard coded and show no indication of this on the block settings dialog. These are the most difficult ones to find because, AFAIK, the only way to track them down is to look at the source code for each block on the page.

@edmistj Many blocks that "requir

[2017-09-11 17:28] edmistj commented on #2452
A PR to list the blocks that need the context (perhaps as the help topic of the parameter) would be great.

[2017-09-11 17:45] cabal95 commented on #2452
I'll take a look at adding this as part of the help text expanded by clicking the `?`.

[2017-09-11 18:06] garrettjohnson commented on #1883
@dcs619 I've looked at the table, I'm not super clear on how the structure works to make sense of what's going on. I'll try to anonymize a row to share if that's helpful.

[2017-09-11 18:39] Tschrock commented on #2104
@cabal95 I think that would be fine, and wouldn't be too hard to make happen.

The `Empty Value Handling` tells it what to do if the value is blank, i.e. an empty string or whitespace. I don't think it would have a use for Attributes, but for Properties it has three options:
 - `Ignore empty values` - If the Value is blank, it will leave everything alone and skip setting the property.
 - `Set to e

[2017-09-11 18:58] NuclearTacos commented on #2104
@cabal95 Then a filter like `| HasRightsToAttribute:` would fill my last concern for this issue.

@Tschrock cool action!  How does it handle people trying to write to Properties that they can't?  (like Guid and Id) Or for that matter, is there any properties it won't let you overwrite, like CreatedDateTime?

[2017-09-11 19:02] edmistj commented on #2104
@Tschrock Having an action like that for Entity Attributes would be awesome in core. Are you able to do a PR for that? The current action for updating properties would also be a good addition.

[2017-09-11 22:28] Tschrock commented on #2104
@NuclearTacos For properties, Entity Framework and SQL Server will validate things before it saves, so email addresses still have to look like email addresses, Ids can't be changed, database constraints can't be broken, etc (CreatedDateTime is still fair game). Errors will stop the workflow just like in any other action.

@edmistj I can have a PR ready soon:tm:. I'll put them both in the same one,

[2017-09-11 23:07] edmistj commented on #2104
One PR for both is great. Looking forward to seeing how long your trademarked 'soon' is ;)

[2017-09-12 15:29] NuclearTacos opened #2457 "{% sql %} Results Don't Work With Some Filters"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-12 17:02] edmistj commented on #2311
A migration has been added to correct this. Will be fixed in v6.10.

[2017-09-12 17:02] #2311 closed

[2017-09-12 17:44] MikeDPeterson commented on #2319
fixed with https://github.com/SparkDevNetwork/Rock/commit/8f475a5a90e3f2acfa6aa48a52ddf66b42faa691, and there will be a migration to re-mask any accountnumbermask values that have already been stored

[2017-09-12 17:44] #2319 closed

[2017-09-12 23:59] #2171 closed

[2017-09-13 04:07] edmistj commented on #2456
@arranf what do you think? I think the two paths forward are:

1. Use Daniels CSS
2. Make the PageTitle be a template, probably a new field on the site.

#2 feels pretty complex.

[2017-09-13 04:41] edmistj commented on #2416
@danielmilner Can you try one more thing? Could you check the security for your REST user for the Rock.Model.Group model security under "Admin Tools -> Security -> Entity Administration".

[2017-09-13 04:46] edmistj commented on #2263
@cabal95 the statement generator does not show pledge info. If you have a fix for this send over the PR.

[2017-09-13 04:50] edmistj commented on #1762
Closing issue from lack of response.

[2017-09-13 04:50] #1762 closed

[2017-09-13 05:37] cabal95 commented on #2263
Thanks for the reminder. I'll see if I can get to this this week. If memory serves the fix wasn't too complex.

[2017-09-13 08:18] arranf commented on #1707
Looking at this a bit more closely I'm not sure that it'd make sense to have the actual Group Role as part of this select as well as the Leader/Member designation. You're likely to want to filter by Leader/Member **or** by a multi-select of roles.

[2017-09-13 09:44] #2113 closed

[2017-09-13 14:41] edmistj commented on #2448
When attempting to import a complex workflow I get this exception:
[code]

[2017-09-13 15:40] danielmilner commented on #2416
@edmistj I gave my REST user Allow access for View/Edit/Administrate on that model, but am still getting the same results.

[2017-09-13 15:46] edmistj commented on #2416
OK, thanks for checking that.

[2017-09-13 21:05] NuclearTacos opened #2459 "[EN] Group Member Add Allowing Stating Status Choice"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-13 22:11] briankalwat opened #2460 "Shortcodes Don't Support Multiple Enabled Lava Commands"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-13 22:57] garrettjohnson opened #2461 "Person "Giving Amount" data view filter equal to $0 returns no results"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [[http://rock.rocksolidchurchdemo.com/](http://rock.rocksolidchurchdemo.com/) demo site ]()?
  * Did you include your Rock version number and [[https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information](http

[2017-09-14 03:52] edmistj commented on #2461
Implementation Note:
We'd need to translate $0 into a query where there are no transactions or the sum is $0 (gift with a refund).

[2017-09-14 03:58] #2460 closed

[2017-09-14 03:59] edmistj commented on #2460
Thanks @briankalwat, this should be in pre-alpha build 1.7.0.39

[2017-09-14 09:55] #2160 closed

[2017-09-14 10:10] arranf commented on #2457
I think this is going to be an enhancement rather than a bug.

I'm not quite versed enough in the new Lava commands to say _exactly_ what's going on but the entity commands return a list of entities (`IEntity`)(https://github.com/SparkDevNetwork/Rock/blob/develop/Rock/Lava/Blocks/RockEntity.cs#L384) whereas the SQL command returns a `DataRowDrop` (https://github.com/SparkDevNetwork/Rock/blob/devel

[2017-09-14 11:27] arranf commented on #2455
I'll take this one.

[2017-09-14 14:35] NuclearTacos commented on #2457
That's no fun!  Is there any other practice I could follow to "clean it up" to be able to use those filters on the results?

I wouldn't think that `{% assign %}` wouldn't alter it in any way, but I don't know for sure.

[2017-09-14 18:27] edmistj commented on #2457
I agree with Arran this would be tricky to implement and that this is an enhancement. I have an idea though that I can look at later.

[2017-09-14 18:59] ambermccoy opened #2463 "Scheduled Transactions Not showing up in Rock as Processed Transactions"
### Prerequisites
* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?  - no because I can't schedule a transaction in the demo site and ALL of our scheduled transactions are having the same issue.
    * Did you include your Rock version number and [c

[2017-09-14 19:05] bengoshow opened #2464 "Content Channel Query Parameter Filtering by Attribute Conflict"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-14 19:09] cabal95 commented on #2463
Based on your description this isn't related to the Contribution Statements themselves. Do you have the Rock Job called `Download Payments` turned on and running?

[2017-09-14 19:14] ambermccoy commented on #2463
Is that under the Finance, Administration, Download payments area?
If so, there isn't anything in that area but I can try that.

On Thu, Sep 14, 2017 at 3:09 PM, Daniel Hazelbaker <notifications@github.com

--

[image: photo]
<https://share.polymail.io/v1/z/b/NTkzNThmODExNjBj/yAZRNXgOApvd77wvkWuEU85biyCCgDB8xjEZlnrF0r2BRjYpHIvZkjtIv_0mMkyaZmm3ep2WZEHCMDPvBimknZ61sHs01mq1633uInYHzc65H__k4TiBZxVSr0X

[2017-09-14 19:15] ambermccoy commented on #2463
Yes!  That worked!  Thank you!  I assumed it would be automatic.  I will
let the Finance lady know.  Thank you so much again!

On Thu, Sep 14, 2017 at 3:14 PM, Amber McCoy <amber@discovergrace.net>
wrote:

--

[image: photo]
<https://share.polymail.io/v1/z/b/NTkzNThmODExNjBj/yAZRNXgOApvd77wvkWuEU85biyCCgDB8xjEZlnrF0r2BRjYpHIvZkjtIv_0mMkyaZmm3ep2WZEHCMDPvBimknZ61sHs01mq1633uInYHzc65H__k4TiBZxVSr0X5

[2017-09-14 19:17] arranf commented on #2463
@ambermccoy It is meant to be automatic but to do that you have to configure a job to pull it at a regular interval. [This guide explains it well!](https://www.rockrms.com/Rock/BookContent/15/103#downloadingtransactions)

[2017-09-14 19:17] #2463 closed

[2017-09-14 19:18] ambermccoy commented on #2463
Perfect!  Thank you!  I must have skimmed over that section too quickly
when I was reading through the tutorial.

On Thu, Sep 14, 2017 at 3:17 PM, Arran France <notifications@github.com>
wrote:

--

[image: photo]
<https://share.polymail.io/v1/z/b/NTkzNThmODExNjBj/yAZRNXgOApvd77wvkWuEU85biyCCgDB8xjEZlnrF0r2BRjYpHIvZkjtIv_0mMkyaZmm3ep2WZEHCMDPvBimknZ61sHs01mq1633uInYHzc65H__k4TiBZxVSr0X5lW7nrPyhl7S

[2017-09-14 19:53] edmistj commented on #2464
Implementation Notes:
Check that the content channel contains a property or attribute for the parameter filtering before applying the filter.

[2017-09-14 20:40] cabal95 opened #2466 "Cannot change account in scheduled transactions"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-15 00:54] #2457 closed

[2017-09-15 00:54] edmistj commented on #2457
Just pushed an update that should allow for these new features.

[2017-09-15 18:14] garrettjohnson opened #2468 "Add bulk communication default on Communication Entry Block"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-15 22:07] edmistj commented on #2468
Sounds good. Should default to current behavior.

[2017-09-16 00:04] edmistj commented on #1780
Implementation Status
The family edit block has two custom security verbs for controlling the editing of the Connection Status and Record Status. We need to add the same to this.

[2017-09-18 14:50] edmistj commented on #1594
Proposed Solution
1. When saving person attributes append the attribute EntityTypeId and EntityId to the 'Related' fields on the history record.

https://github.com/SparkDevNetwork/Rock/blob/develop/RockWeb/Blocks/Crm/PersonDetail/AttributeValues.ascx.cs#L265

https://github.com/SparkDevNetwork/Rock/blob/develop/RockWeb/Blocks/Crm/PersonAttributeForms.ascx.cs

2. On the history block when the reco

[2017-09-18 15:41] NuclearTacos opened #2474 "Dynamic Data Blocks Supporting Local Lava Permissions"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-18 15:46] cabal95 commented on #2474
Implementation note: This should be done in the Block Properties (gear), not the Edit Criteria (pencil).

[2017-09-18 18:32] cabal95 opened #2476 "Family Attendance bar graph not always reporting family attendance"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-18 19:01] edmistj commented on #2476
I believe the functionality is correct. When viewing a child we'd want to see they're specific attendance on the bar chart. On adults (since they don't usually have attendance) we'd want to see the aggregate of the family. We can update the tooltip on the 24 month bar chart to reflect the Individual attendance when viewing a child.

Implementation Notes
On a child's record the note should read.

"

[2017-09-18 19:24] chrismcgrath opened #2477 "Member 'OriginalValue' cannot be called for property 'IsActive' on entity of type 'Workflow' because the property is not part of the Entity Data Model"
### Prerequisites ###

* [ ] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [[http://rock.rocksolidchurchdemo.com/](http://rock.rocksolidchurchdemo.com/) demo site ]()?
  * Did you include your Rock version number and [[https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information]

[2017-09-18 20:04] azturner commented on #2477
This is occurring in the Auditing of workflowaction record, so Auditing would need to be enabled for this error to occur.

[2017-09-18 21:46] chrisfunk opened #2478 "Multiple Check ins for Same person with Also Select Group and Prevent duplicate checkin configured"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-18 21:59] AmyNichols opened #2479 "Content Channel Add from Calendar"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [?q=is%3

[2017-09-18 23:58] cabal95 opened #2480 "Should eRA calculations only look at Groups with AttendanceCountsAsWeekendService"
### Description

I asked about this, to determine if it was working as designed, and Jon said it was but would be open to potentially change it (hopefully I didn't misinterpret what he said). So here is a discussion point for this.

Currently when calculating the eRA the Family Analytics job looks at attendance towards all groups marked as `AttendanceCountsAsWeekendService`. Generally this works f

[2017-09-19 00:05] edmistj commented on #2480
@cabal95 right on the mark in terms of opening this up for discussion.

Was thinking about this more. The problem with Group Attendance and Serving is that it can have different expectations than Regular Church Attendance. For instance I know a lot of churches have their groups take the summers off. That would make a lot of people lose their eRA. Also some people serve every other week.

If the pu

[2017-09-19 01:28] JimMichael commented on #2480
1. I can see both arguments for changing it and leaving it alone. I like flexibility/choice so I'd probably vote for being able to choose group types that count toward eRA and take on the responsibility/repercussions of doing so. But I also understand that it could diminish the effectiveness of the eRA "ideal". One argument I'm not convinced of is having a common language (eRA) to compare to other

[2017-09-19 15:16] randyjreed opened #2481 "Fundraising Matching - Displays inactive groups"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-19 16:34] cabal95 commented on #2480
I think I normally latch onto the *Estimated* part of the eRA.  If we are strictly trying to measure just Regular Attendance then we would just look at attendance and nothing else (i.e. not giving data). Adding giving data into the mix helps us Estimate that value based on another fairly trusted data source. That is, if they are giving regularly to the church they are *probably* also attending fai

[2017-09-19 16:37] KelleyLangkamp commented on #1463
Honestly, I'm not sure. Most of those workflows had to do with updating metric values. I changed them all over to schedule metrics running SQL queries. So I haven't tried them recently.

[2017-09-19 16:43] cabal95 commented on #1463
I'll close for now then as I haven't heard of a report on this lately and it's been a few versions. If the problem comes up again feel free to re-open. We are trying to get better about not letting issue reports get stale for this long in the future.

[2017-09-19 16:43] #1463 closed

[2017-09-19 20:00] cabal95 commented on #2418
Since most of the issues seem to be related to repos with multiple branches, and the concepts of which branch do we check for the master file and then dealing with having multiple copies of that file floating around in different branches; I'll throw out this idea - though I will admit I'm not in love with it but it might simplify the branch issues.

The idea is to use the simplified plugin format

[2017-09-19 20:41] JimMichael opened #2482 "Adding to Event Reg internally does not honor Event Template's Group Member Status"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-19 20:46] cabal95 commented on #2482
Mentioned commit is here 07a1c6cde

[2017-09-19 20:58] edmistj commented on #2418
This is some great collaboration. Think though we need to bring it to a head. I propose that we go with the plan outlined by Mark (https://github.com/SparkDevNetwork/Rock/issues/2418#issuecomment-328249212)

Next steps is to create a Rock job in the Spark Rock repo to harvest the data from the repos tagged with `rock-rms`. Arran has volunteered to tackle that. We load the projects into the Spark R

[2017-09-20 16:12] edmistj commented on #2480
It sounds like you're creating an 'Engagement' metric which is an expansion of regular attendance. It might be better to keep eRA clean and standard (something we put a high value on) and instead use it as a building block to create your custom metric. Something like 'Full Engaged' = eRA || InGroupOfType Small Group || IsServing.

As to the semi-related topic items. We've worked on some concepts t

[2017-09-20 17:18] NuclearTacos opened #2483 "[EN] Update Data View Picker to Show Categories"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-09-20 22:26] cabal95 commented on #2480
Following up the semi-related topic items: Yes I agree we would need more "math" than what I mentioned for the specific implementation. I will probably open a new discussion on this stuff sometime later once we have a slightly more solid idea of what criteria types we would be thinking for "Engagement" type tracking; and then get a broader input before we begin to tackle it.

For the current discu

[2017-09-20 23:17] garrettjohnson opened #2485 "Truncate stored credit card numbers"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-21 05:09] edmistj commented on #2480
I'll pass the documentation suggestion on to Amy to polish.

[2017-09-21 06:48] garrettjohnson opened #2486 "Rename "Giving Analysis" Block, "Giving Analytics""
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-21 12:56] austinspooner commented on #2480
Thanks everyone for starting this discussion. I would agree with Daniel and
Jim. For us - we have already checked a few "extra"  group types in the job
and have explained to staff that the number of times attended in the range
might be more than the possible number of weekends. I would like to see
this customizable as well to allow for the badges to be correct.

On Wed, Sep 20, 2017 at 5:26 PM, Da

[2017-09-21 15:12] edmistj commented on #2486
Added a migration roll-up to v6.10

[2017-09-21 15:12] #2486 closed

[2017-09-21 20:44] dcs619 opened #2488 "[EN] Add length limitation to Text FieldType"
### Description

This should be a quick PR the next chance I have but wanted to get it here for any discussion.  It would be nice to be able to set a max length on the Text FieldType.

### Steps to Reproduce

1. Create a Person attribute of Text field type
2. Add a core category and Save
3. Go to the attribute and add a wall of Lorem Ipsum text
4. Groan with agony as you didn't want someone's life

[2017-09-21 21:55] edmistj commented on #2488
Sounds good, go for it.

[2017-09-22 02:16] MikeDPeterson commented on #2045
@jeremyhoff,  the image url feature is now available with https://github.com/SparkDevNetwork/Rock/commit/ae7b8f258b95ce06d329f98dcb2775c36c761f94

[2017-09-22 16:34] dcs619 opened #2489 "Connection Opportunity Block not marking files Temporary = false"
### Description

By default, the FileUploader marks image uploads as IsTemporary as the image could be cropped or deleted shortly after.  The block where the file is used is supposed to mark the image as non-temporary. This doesn't happen with the Connection Opportunity block.

When the file is marked as Temporary but is attached to a Connection Opportunity, the Rock Cleanup Job will throw an erro

[2017-09-22 23:45] edmistj commented on #2418
Closing as this collaboration has achieved it's goal.

[2017-09-22 23:45] #2418 closed

[2017-09-23 17:58] #2328 closed

[2017-09-23 17:58] #2327 closed

[2017-09-23 19:24] #2402 closed

[2017-09-23 20:06] #2425 closed

[2017-09-23 20:19] #2430 closed

[2017-09-23 20:25] #2437 closed

[2017-09-23 20:47] #2172 closed

[2017-09-23 21:01] #2432 closed

[2017-09-23 22:16] #2115 closed

[2017-09-23 22:45] #2263 closed

[2017-09-24 00:51] #2459 closed

[2017-09-24 01:04] #2401 closed

[2017-09-24 13:22] #2412 closed

[2017-09-24 14:35] #2308 closed

[2017-09-24 14:43] #2421 closed

[2017-09-24 15:23] #2447 closed

[2017-09-25 02:35] garrettjohnson opened #2491 "Allow Group List Block Default Sort"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-25 13:02] #2481 closed

[2017-09-25 14:20] edmistj commented on #2491
@garrettjohnson I'd be fine if that was the default and we didn't add the block setting. There are some groups with null values for DateTimeAdded but those should be the exception not the rule.

[2017-09-25 15:46] edmistj opened #2492 "v7 Support for FontAwesome"
### Initial Plan
Trying to guess how FontAwesome Pro is going to work is a little tricky especially with our deadline for v7 looming. Here’s some thoughts…

1. 1.V7 will ship with the Free FontAwesome v5.

2. We will add a block under CMS Settings to Upgrade to Pro

   - This will contain instructions and links on how to purchase the update.
   - Allow you to enter your Pro Key (to be stored as a

[2017-09-25 15:59] edmistj commented on #2492
Update from FontAwesome guys

[2017-09-25 16:02] cabal95 commented on #2492
Is there a reason _not_ to use the SVG framework if that is the new way? FontAwesome already has SVG font file(s) - or is this something very different than just which font file to load?

[2017-09-25 16:36] edmistj commented on #2492
Many of the custom themes are wired up to load the web fonts. Also, the SVG framework is new, still working through testing it. It also doesn't support IE9 (not a huge deal, but there are still some people using it).

[2017-09-25 16:37] arranf commented on #2492
Option 1 seems like the sensible and safe route!

[2017-09-25 18:24] garrettjohnson commented on #2492
I'll be contrarian and go for option 3 😄 , just the just the web font.

Conceptually, I really like the idea of the SVG framework, it opens up a lot of possibilities that are really interesting for design; plus web fonts aren’t the best option for icons.

Based on the stated goal of expanding the number of icons available, Font Awesome 5 is going to have issues with file size bloat due to the shee

[2017-09-25 18:29] edmistj commented on #2492
@garrettjohnson great insight. Thanks for not only sharing your thoughts but backing up up with the numbers. I think your option 3 makes sense. We can always add SVG in the future, we'll know more then.

[2017-09-25 18:32] garrettjohnson commented on #2492
@edmistj The Font Awesome devs are definitely aware of this, found a few issues that we might want to track:
https://github.com/FortAwesome/Font-Awesome-Pro/issues/584 Most Performant/Speedy FA5 Implementation Method?
https://github.com/FortAwesome/Font-Awesome-Pro/issues/434 Loading speed of different types?

[2017-09-26 04:35] edmistj commented on #2126
@NuclearTacos I'm not sure where you'd suggest the documentation edit go. If you could attache a link to where the documentation needs to be edited and the updated verbiage we'll make the change.

[2017-09-26 15:53] mikejed commented on #2456
If I can jump into this (late), it seems like a css option would work, but couldn't line 3 in Jon's screenshot above be wrapped in a conditional that only renders that line if the "Show Title" checkbox is checked? It would keep things cleaner for page design

[2017-09-26 16:15] nairdo opened #2493 "Duplicate Finder Timeout"
### Description ###

When attempting to pull up the list of person duplicates (for a very large db with thousands of duplicates) a timeout occurs **in Rock version 1.7.0.39**

Would love for someone to try to confirm/deny this is happening ON ANOTHER SYSTEM running Rock v7 with thousands of possible duplicates.

### Steps to Reproduce ###

1. Click Duplicate Finder

**Expected behavior:**

Show li

[2017-09-26 16:17] mikejed opened #2494 "Shoulder the Boulder approval/publishing process"
@arranf asked me to think through how the approval process could be improved for posting to Shoulder the Boulder, and post here with my suggestions.

**The realistic start** _(want)_
It seems to me that if we added a single-select attribute to the content channel called "Post Status", it could offer options as basic as "In progress" or "Ready to publish". That attribute should be displayed on the

[2017-09-26 16:22] edmistj commented on #2456
RockPage currently hides the <Rock:PageTitle /> it can't hide the <h1> since it doesn't have a runat=server and it's ID would not be known. We could probably require that, but most theme creators would probably not be aware of that when developing their themes.

[2017-09-26 16:33] cabal95 commented on #2493
Our duplicate Finder shows 8,140 rows and comes up in 1.66 seconds (at page size 50). I switched to page size 5,000 for kicks and came up in 1.7 seconds.

[2017-09-26 16:55] arranf commented on #2456
I think it'd be great if we can add that CSS core themes. I think anything
else is a little bit too much for a low priority bug like this.

On Tue, 26 Sep 2017, 17:22 Jon Edmiston <notifications@github.com> wrote:

--
Need to organise a time to chat with me?
calendly.com/bricksandmortar

[2017-09-26 17:30] nairdo commented on #2493
@cabal95 Thanks.  Did you do that test on the pre-alpha-release branch, develop, or other?

[2017-09-26 17:39] cabal95 commented on #2493
6.8. I might be able to try getting a backup of my production data dev environment up to latest git, but that would take a bit of time.

[2017-09-26 17:50] edmistj commented on #2456
@arranf Roger that, I can knock that out quick.

[2017-09-26 18:40] cabal95 commented on #2494
Wish 1 security should be handled already by assigning the activity to a group of people authorized to approve.  If we want one-click approve, I'm assuming the e-mail would include the content of the post. Would that display correctly in an e-mail?

[2017-09-26 23:33] luke-b-taylor opened #2495 "Missing single quote in .lava file"
### Prerequisites
* [x ] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [pe

[2017-09-26 23:45] edmistj commented on #2495
If someone attaches a SQL to update it via a migration I can take it from there to get it into a migration.

[2017-09-27 00:50] cabal95 commented on #2495
@edmistj Unless I missed something, this is just a file on disk in the repo that needs a single quote typed in. I can do a PR but wanted to make sure I wasn't missing something.

[2017-09-27 01:54] edmistj commented on #2495
Right! I didn’t check hustled added the note real quick while I waited for a compile. Sounds good.

[2017-09-27 02:06] luke-b-taylor commented on #2495
I have an edit done and can submit a PR, @cabal95 suggested I submit an issue instead.

[2017-09-27 17:58] edmistj commented on #2434
This sounds interesting. How about you keep piloting it in your current work and we look at it as a possible core addition in the future.

[2017-09-27 17:58] #2434 closed

[2017-09-27 19:32] #2419 closed

[2017-09-27 19:33] #2448 closed

[2017-09-27 19:37] cabal95 commented on #2399
Did this commit ever get merged?

[2017-09-27 20:29] nairdo commented on #2493
@cabal95 Ok, yeah, it was working fine in v6.  I only started seeing this once we pulled from pre-alpha-release (1.7.0.39).

[2017-09-27 21:52] cabal95 opened #2496 "Twilio has logging enabled by default"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-27 22:06] dcs619 opened #2497 "Blank DataView filters break PageParameters for the DynamicReport"
### Description

If a Dataview contains a filter for a commonly used entity and that filter is left blank, a URL parameter passed to the DynamicReport block will not set the field filter correctly.

This works correctly if the original Dataview filter is set to a specific value.

### Steps to Reproduce

0. Add more than one Campus
1. Modify the [Pending People](http://rock.rocksolidchurchdemo.com/

[2017-09-27 22:19] luke-b-taylor opened #2498 "Adding a page route to a page with children breaks PageListAsBlocks.lava"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-27 22:27] luke-b-taylor commented on #2498
I figured out the issue.  Since I'm new, should I tell someone else to fix, or just fix and do a PR?  it's swapping a childPage.Id for a childpage.Url on line 6 in the lava file

[2017-09-27 22:29] azturner commented on #2399
It did get merged here: https://github.com/SparkDevNetwork/Rock/commit/581aa4f2, but now realize I used the wrong # for "fixed". I also still have a task to finish testing/confirming the change.

[2017-09-27 22:30] #2399 closed

[2017-09-27 22:37] edmistj commented on #2498
Just submitting the PR is fine. Thanks Luke!

[2017-09-27 22:37] edmistj commented on #2495
Send over a PR :)

[2017-09-27 23:05] #2496 closed

[2017-09-27 23:05] #2456 closed

[2017-09-28 14:23] #2452 closed

[2017-09-28 14:41] #2498 closed

[2017-09-28 14:43] #2495 closed

[2017-09-28 14:43] edmistj commented on #2495
Fixed via PR

[2017-09-28 16:43] #2136 closed

[2017-09-28 17:42] #2497 closed

[2017-09-29 14:14] NuclearTacos commented on #1803
From Slack user `@eholeman`
On my person record in Rock, for testing purposes, I had my home phone marked as unlisted.  I was doing a test contribution today and found that Unlisted comes into the Personal Information section.  When I clicked Finish, the transaction never completed.  It just spins.  The exception log shows this "Entity Validation Error:

Seems to be the same problem.  I forwarded

[2017-09-29 16:09] arranf opened #2506 "Sort Person Search By Name"
As suggested in Slack person search (the dropdown, not the results) should be sorted by Last Name then Nick Name.

[2017-09-29 17:19] garrettjohnson opened #2507 "Remove "Remove all pending" in simple communications editor"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-09-29 20:21] cabal95 commented on #2357
This is fixed in new installs, existing installs still have this bug. Either a migration will need to be written to detect and fix the lava or users will need to fix their own template...

[2017-10-02 16:58] cabal95 opened #2510 "Users registering for an event can cause over-capacity situations"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-02 18:49] garrettjohnson commented on #2510
Related to #2059

[2017-10-02 20:41] eddieholeman opened #2511 "Multiple user entry forms don't scroll to top of page when loading"
### Prerequisites
* [ ] Put an X between the brackets on this line if you have done all of the following:
 X   * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
   X * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
   X * Did you [

[2017-10-04 13:49] dcs619 commented on #2433
I'm working with an international Rock church that could use this change as well.

For the gateway to know what type of transaction it's processing, you have to modify core functionality in TransactionEntry, RegistrationEntry, and ScheduledTransactions to add prefix or specific GLCode support.  The PR @arranf submitted would be a much cleaner approach.

[2017-10-04 17:58] garrettjohnson opened #2514 "Add Giving Pattern frequency to Data View"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-10-05 03:44] markrbaker opened #2515 "Prayer Request Entry block does not show error when invalid"
The form validation for the email text block catches an invalid email address, but does not show an error, so the form is re-displayed, without reference to a data entry error.  An empty field works fine as it is not a required field. The "Is Valid" method does not check for proper email validation, so I assume that the "Submit" button which has a TextMode="Email" setting is catching the invalid a

[2017-10-05 03:44] markrbaker commented on #2515
OOPS - did not mean to close it...

[2017-10-05 05:57] edmistj commented on #2221
This work has been completed and will be v7. The implementation was a Defined Type that allowed you to add domains that should allow global cookies for the auth cookie.

![image](https://user-images.githubusercontent.com/548178/31212773-568947bc-a957-11e7-947f-a602bf87c215.png)

[2017-10-05 05:57] #2221 closed

[2017-10-05 05:58] edmistj commented on #2045
Mike has addressed many of these and the updates should be on the prealpha.rockrms.com site. Could you please check that and let us know what still needs attention?

[2017-10-05 06:11] edmistj commented on #2428
Without significant funding specifically for this feature we won't be able to commit to it.

[2017-10-05 06:11] #2428 closed

[2017-10-05 06:13] edmistj commented on #2290
@garrettjohnson do you want us to work on this? Would be nice to have soon for v7.

[2017-10-05 06:14] edmistj commented on #2210
Closing as this is complete. Good collaboration!

[2017-10-05 06:14] #2210 closed

[2017-10-05 06:31] edmistj commented on #2454
I submitted a roll-up migration for this for the v6.10 patch. Closing this as it will be rolled up into the final migration for that patch release.

[2017-10-05 06:31] #2454 closed

[2017-10-05 16:08] garrettjohnson opened #2516 "Use earliest Created Date Time on People Merge"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-05 21:14] edmistj commented on #2290
@garrettjohnson talked to Mike about this and he's going to knock it out.

[2017-10-05 21:14] #2290 closed

[2017-10-05 23:11] cabal95 commented on #2045
It's much better for sure.  Couple results (all tests conducted on a Mac, Safari = 11.0 High Sierra, FireFox = 49.0.2):

## Paste from Text Edit

Original text:
[code]

In Safari 11.0 results in (extra lines after paragraphs):
[code]

FireFox pastes correctly.

## Paste from Safari copy

Original text comes from selecting and copying the original details in this issue post.

Both Safari and FireFo

[2017-10-06 00:59] cabal95 opened #2518 "PersonPicker JavaScript permanently modifies autocomplete UI plugin."
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-06 15:06] dcs619 opened #2519 "Storing Lava in KeyValue attribute will break when Lava contains '|' filters"
### Description

When adding an attribute of type KeyValueList, saving a snippet of Lava in the Value field will render an additional attribute when the Lava contains a '|' character.

before save:
![screenshot 2017-10-06 10 52 12](https://user-images.githubusercontent.com/1210933/31284149-c13f1922-aa85-11e7-83df-02df5a22eaf4.png)

after save and refresh:
![screenshot 2017-10-06 10 52 23](https://

[2017-10-06 15:09] cabal95 commented on #2519
For the record, it also means things go wonky if you do this in Lava: `{{ Person.Age }}^3`

[2017-10-06 16:40] edmistj commented on #2518
Sounds good. I think it might be something that we'd pull in post v7. That way we could test it more in the pre-alpha phases of v8.

[2017-10-06 17:52] cabal95 opened #2520 "Attribute of type Page Reference cannot be used in Lava"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-06 18:41] edmistj commented on #2520
If `{{ item | Attribute:'Page','Object' }}` doesn't get you what you need I think a new Lava filter would be the best solution.

[2017-10-06 18:46] cabal95 commented on #2520
Just verified, and the `,'Object'` syntax also returns just the name of the page.

[2017-10-06 19:04] edmistj commented on #2519
Encoding the value seems like a good enhancement. You'd probably want to URLEncode it though instead of HTMLEncoding since HTML Encoding would still return the |. Thanks for the heads up on the PR.

[2017-10-06 19:33] chrisfunk commented on #2519
@dcs619 I am am probably stating the obvious here, but we would probably need to unencode it before displaying or processing the value.

[2017-10-06 22:39] edmistj commented on #2492
I'm going to close this as I think we have a final plan for v7. Not sure what we're going to do if it's not ready  before we're ready to package v7. Looks like the free version will be ready, but the Pro likely will not. I'm thinking we'll add the fields on the model to support Pro but not include the block until Pro is released. We should be able to include that in a point release.

[2017-10-06 22:39] #2492 closed

[2017-10-07 16:36] #2511 closed

[2017-10-07 16:50] #2518 closed

[2017-10-10 03:06] #2217 closed

[2017-10-10 03:10] cabal95 commented on #2186
I just ran into this on my server, so I can spend some time looking for a fix and submit a patch if @azturner hasn't had time to work on it.

@tommyprater I wasn't able to replicate the "not working at all" portion on 6.9. I am using a "slug style" filtered on an attribute value and it pulls up the content channel item correctly. Just still not setting the title.

[2017-10-10 15:54] nateh777 opened #2522 "Content Channel Child Items Manually Ordered / Not Sorting properly"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-10-10 19:24] jbgarrett12 opened #2523 "Giving Analytics error with dataview"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-10 20:29] cabal95 opened #2524 "Connection Request Detail block does not handle errors gracefully"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-10 23:43] azturner commented on #2186
@cabal95 I have not looked at this yet, so feel free to take a look.

[2017-10-11 21:17] winmastr opened #2528 "Deleting a defined Value that has Attributes orphans the attributes"
### Prerequisites
* [ X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [pe

[2017-10-11 21:32] cabal95 commented on #2528
This _should_ I believe be fixed in v7, a patch was pulled in that addresses orphaned attribute values.

See #2282. Closing for now, feel free to re-open if it is not resolved in v7 final release.

[2017-10-11 21:32] #2528 closed

[2017-10-11 22:44] cabal95 opened #2529 "Multiple Group Picker forgets last state"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-11 23:13] briankalwat opened #2530 "Add Support for "Include Page List" in pageNav & pageSubNav Lava Templates"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-10-12 15:22] edmistj commented on #2530
@briankalwat when doing the PR could you add this to all the themes with this Lava asset?

[2017-10-12 20:15] dcs619 commented on #2523
@jbgarrett12 Can you post the parameters you're using for the Band Dataview?

This looks like a larger issue with Giving Analytics and Dataviews.  If I try something similar on the [demo site](http://rock.rocksolidchurchdemo.com/page/5342) using the Members Data View, Giving Analytics goes into infinite "working" mode and eventually errors out.

<img width="1135" alt="screenshot 2017-10-12 16 12 4

[2017-10-12 20:37] jbgarrett12 commented on #2523
![capture15](https://user-images.githubusercontent.com/27223144/31517956-98d14b14-af6b-11e7-875c-11adff79be37.PNG)
Is this what you're looking for?

[2017-10-13 15:54] cabal95 opened #2533 "Lava filters GroupById and GroupByGuid"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-13 18:20] garrettjohnson opened #2534 "Recurring Payments Cannot Start on the Same Day"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-10-13 22:23] #2529 closed

[2017-10-13 22:45] MikeDPeterson commented on #2529
Note that the Account Picker had the same issue, so that got fixed too

[2017-10-14 22:32] #2416 closed

[2017-10-15 17:13] cabal95 commented on #2186
@tommyprater I believe this is working correctly in 6.9. Here is what I found.

1. The Page Route slug must match the attribute key in CaSe.  So `slug` != `Slug`.
2. The Set Page Title is also working, just maybe not as expected without a careful reading of the documentation. If `Item` is specified then it will set the Page Title to the title of the _item_; otherwise it sets the Page Title to the

[2017-10-15 17:24] tommyprater commented on #2186
@cabal95 ok thanks I will test it and see. I'm on 6.9.

[2017-10-15 20:48] garrettjohnson opened #2539 "Required Address field only requires Street1"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [?q=is%3

[2017-10-15 21:14] garrettjohnson opened #2540 "Make inline validation help optional"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-10-16 03:33] garrettjohnson opened #2541 "Date Picker ignores Allow Future Date Selection"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-16 04:03] garrettjohnson commented on #2541
Closing, odd development settings... this works without changes.

[2017-10-16 04:03] #2541 closed

[2017-10-16 06:32] garrettjohnson opened #2543 "Giving date selection across timezones"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-16 14:12] edmistj commented on #2540
We should probably discuss implementation notes before coding.

[2017-10-16 14:56] edmistj opened #2544 "Default Location not retained on Location Attributes"
### Prerequisites
* [ X] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [?q=is%

[2017-10-16 15:51] JimMichael opened #2545 "Followed events don't honor email Inactive/Do Not Send"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-16 16:23] garrettjohnson commented on #2540
@edmistj How about `data-inline-validation="true"`? It potentially gets messy for controls with children (addresses), but children make everything harder 😂

[2017-10-16 16:40] garrettjohnson commented on #2540
@cabal95 Yeah, remove L42&70. It works in a lot of places, and it doesn't work in a lot of places. There are areas where validation doesn't use the [.NET validation controls](https://msdn.microsoft.com/en-us/library/debza5t0.aspx), like the transaction entry block found on the give page, which complicates a wholesale change.

I haven't figured out how to force Rock to inject the jQuery Unobtrusive

[2017-10-16 19:11] garrettjohnson commented on #1883
It's unfortunate that it took this long to catch, but our `Duplicate Person List` block and `Person Duplicate Detail` block had different values for the `Confidence Score Low` and `Include Inactive` block properties. By changing them to match we're no longer encountering the error.

It might be helpful to include something in the help text to encourage updating both values at the same time.

[2017-10-16 19:11] #1883 closed

[2017-10-16 19:50] MikeDPeterson commented on #2357
fixed in https://github.com/SparkDevNetwork/Rock/commit/fffd3970a7a1648e075afd2cb054648275cc598e

[2017-10-16 19:50] #2357 closed

[2017-10-16 19:55] #2360 closed

[2017-10-16 19:59] edmistj commented on #2534
This is what I'm seeing on the demo site. Am I missing something?
![giving](https://user-images.githubusercontent.com/548178/31632475-e17f36ec-b271-11e7-8daf-a156efd10da3.gif)

[2017-10-16 20:00] edmistj commented on #2533
This seems to make good sense to me.

[2017-10-16 22:39] cabal95 commented on #2539
I have a fix for this and a few other controls that don't properly enforce Required. I've been trying to get them all done before submitting PR but I don't think that's going to happen. I'll see if I can get the ones I have fully done submitted...

[2017-10-16 23:30] cabal95 commented on #2045
I'm going to close this issue in favor of starting a new thread if anybody continues to have problems. I think Mike nailed down most of the problems, if not all of them.

[2017-10-16 23:30] #2045 closed

[2017-10-16 23:46] cabal95 commented on #2539
N/m, my current implementation only fixes the fact that Address doesn't honor Required at all in some cases.  Are there any international issues with requiring all 4 values exist?  Specifically thinking of `State` and `Zip`.

[2017-10-17 17:48] cabal95 opened #2548 "Add Account filters to blocks on Contributions tab"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-17 18:05] edmistj commented on #2548
Sounds good, so the Account Filters would be block settings?

[2017-10-17 18:18] cabal95 commented on #2548
Yep. `AccountsField` attribute on the block. Value not required.

One additional change that I am making (as I work through this so far) is to make the `Detail Page` for the Pledge List block optional (possibly the other blocks if the same thing come sup). If not set, the rows are not clickable and the Add button does not show up.

[2017-10-17 18:27] edmistj commented on #2548
Ok sounds good.

[2017-10-17 23:17] garrettjohnson opened #2550 "Filter Transactional Email in Communication History"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aissu

[2017-10-18 01:26] NuclearTacos opened #2551 "Note Type Security Can Interfere with Note Security"
### Description
When trying to make notes that can be used to make the note visible to just the author and Pastors.
My solution was to make a Workflow to explicitly allow the creator of a note view/edit rights of the note they created.  I discovered this issue troubleshooting why it didn't work even though the security page looked right.  I confirmed this on my server, Demo, and Pre-Alpha.

### St

[2017-10-18 17:37] cabal95 commented on #2551
Here are some more details, with a more specific example on the Rock demo site. I'm ignoring the **edited by** portion as that doesn't seem to be a direct relation to the core problem.

1. Create a new Person Note Type called `Secure Note`.
2. Set security on the note to Allow `RSR - Rock Administration` and `Ted Decker` to view the note type then Deny `All Users`. So only Rock Administrators and

[2017-10-18 19:52] NuclearTacos commented on #2551
Got it, the "Edit" portion of the instructions are to allow Person B to create notes of that note type.  (in line with the goal stated above, but not directly inline with the bug)

[2017-10-19 01:49] cabal95 opened #2552 "SQL Lockup with too many incoming SMS messages"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-19 15:33] timlem commented on #2478
I am experiencing this same bug - we are on 6.9 as well

[2017-10-19 15:35] watermarkgeek commented on #2478
Verified.  If "People Only" is selected, Prevent Duplicated Checkin works as expected, but fails as stated above on "People and their Area/Group/Location"

[2017-10-19 18:04] mkinyon opened #2554 "SQL Function "ufnCrm_GetFamilyTitleFromGivingId" adding extra spaces"
### Prerequisites
* [X ] Put an X between the brackets on this line if you have done all of the following:
  * Can you reproduce the problem on a fresh install or the [demo site ](http://rock.rocksolidchurchdemo.com/)?
  * Did you include your Rock version number and [client culture ](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
  * Did you [%3Aiss

[2017-10-19 18:09] mkinyon commented on #2554
This bug happens in the SQL function [ufnCrm_GetFamilyTitle] on line 85.  It adds an extra space after the last name for the suffix.  Since the names in my data set don't have a suffix, it leaves the extra space.

`END + ' ' + ISNULL([p].[LastName], '') + ' ' + ISNULL([dv].[Value], '') [FullName]`

Could change to:
`END + ' ' + ISNULL([p].[LastName], '') + ISNULL(' ' + [dv].[Value], '') [FullName]

[2017-10-19 18:19] MikeDPeterson commented on #2552
If it needs to be random, and with no risk of spins, perhaps Rock could pre-generate a List of response codes in memory, and sort them in random order. Then anytime it needs a new one, just take the next one from the list, and start from the beginning each time it gets to the end.  The pre-generated list could be something of reasonable size, perhaps as large as 1 to 9999999, or maybe as small as

[2017-10-19 22:21] cabal95 opened #2557 "CodeEditor control does not always include ace.js"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-20 00:25] cabal95 commented on #2557
Confirmed, Doesn't work on develop branch. Tested with this block:

[code]

[code]

To make it work, simply change the `Visible="false"` in the .ascx on the panel to `Visible="true"`.

[2017-10-23 15:47] cabal95 opened #2558 "Duplicate Finder should consider Suffix"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-23 15:57] cabal95 commented on #2552
There hasn't been any comments on this about it needing to remain random. So I am going to propose the following algorithm:

* System generates a list of sequential numbers that are available, between 100 and 10,000 and skipping 666, and have not been used in the past 30 days. This list will probably be cached in some way to help deal with a large influx of new responses to a large outgoing text.

[2017-10-23 19:34] edmistj commented on #2552
Random would seem to be desirable as with sequential you would be able to know for certain which previous codes would work. Since this code only get's generated on responses would lowering the period from 30 to 5 days help (and adding loop prevention).  Otherwise I'd say we add the possiblity of 4 digits if there aren't any remaining 3 digit codes.

[2017-10-23 20:03] edmistj commented on #2558
Sounds good. I'd not do that for title since they are not as meaningful as suffix (Ms Mrs, etc)

[2017-10-23 20:18] cabal95 commented on #2552
Okay, I'll setup a PR for the "loop prevention" plan of trying 100-999 first and if nothing is available in that range then move the top-end limit up by 1,000 at a time (i.e. so we don't jump from running out of 3-digit codes all the way to a randomly picked @9827 code).

As for the number of days, 5 days might be a bit short. Maybe 14 days (2 weeks) would be a good in-between.

[2017-10-23 21:03] cabal95 commented on #2558
Okay so since all the logic for this is inside a stored procedure, is the best way to handle a PR on this to modify the stored procedure SQL so that it works and then post the fully modified SQL for one of you guys to implement? I'm happy to do more than that but don't know where to start with a stored procedure update for Rock.

[2017-10-23 21:37] edmistj commented on #2558
A new SQL change would be great. You could also write the migration and just send us the file where we'd just copy/paste in the guts.

[2017-10-23 22:23] #2515 closed

[2017-10-23 22:44] #2157 closed

[2017-10-23 23:04] #2524 closed

[2017-10-23 23:05] dcs619 opened #2559 "Adverse Side Effects for Security Role Order of '0'"
### Description

Per a [discussion](https://rockrms.slack.com/archives/C2LSLJPTM/p1508444746000389) in Slack, Rock can unexplainably start ordering security roles incorrectly, causing users to not be able to access files or other securable entities.  (Technically speaking, this happens when SQL's index or table storage updates and the query plan/optimizer returns rows in a different order than exp

[2017-10-23 23:24] cabal95 commented on #2186
@tommyprater Any feedback on this?

[2017-10-24 01:39] dcs619 commented on #2559
This doesn't appear to be a widespread problem but would affect security on other entities:

![rock rocksolidchurchdemo com-page-147](https://user-images.githubusercontent.com/1210933/31920975-8631b94e-b83a-11e7-9b6b-96e70f71deb4.png)

[code]

[2017-10-24 16:44] cabal95 commented on #2530
@briankalwat I see that you added a commit but not a pull request yet. Is there more code work that you need to do or does it just need the PR created?

[2017-10-24 22:06] #2559 closed

[2017-10-25 14:35] briankalwat commented on #2530
@cabal95 honestly I've been having trouble figuring out how to open the PR as our fork of the repo isn't in sync + not being familiar with which branch to open the PR to, etc. I tried to figure it out but should have just asked for help when I got stuck.

[2017-10-25 15:41] cabal95 commented on #2530
No worries. I'll see if I can get with you on Slack to either help you get a PR going yourself or maybe pulling the change and submitting one myself. (I'm out for the rest of the date)

[2017-10-25 17:16] briankalwat commented on #2530
I'd love to learn the process so I can contribute more in the future!

[2017-10-26 01:32] #2429 closed

[2017-10-26 14:40] edmistj commented on #2519
Updated this in the v6.9 hotfix to allow a church to pull in the change. It will be in v6.10.

[2017-10-26 14:40] #2519 closed

[2017-10-26 15:17] smross opened #2561 "CMS Site Configuration Edit domains tooltip/help"
### Prerequisites
* [X] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per

[2017-10-26 15:39] tommyprater commented on #2186
@cabal95 sorry for the delay I was out of the office for a death in the family. Getting back to this and testing. I will try to update in the next day or so.

[2017-10-26 15:58] edmistj commented on #2561
Fixed in hotfix branch.

[2017-10-26 15:58] #2561 closed

[2017-10-27 14:57] #2489 closed

[2017-10-27 17:59] garrettjohnson opened #2562 "RSR Finance roles hides add buttons on Person Contributions Tab"
### Prerequisites
* [x] Put an X between the brackets on this line if you have done all of the following:
    * Can you reproduce the problem on a fresh install or the [demo site](http://rock.rocksolidchurchdemo.com/)?
    * Did you include your Rock version number and [client culture](https://github.com/SparkDevNetwork/Rock/wiki/Environment-and-Diagnostics-Information) setting?
    * Did you [per